/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-size: 13px; font-family: Arial, Calibri, sans-serif; color: #636363; line-height: 1.4; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.container { position: relative; width: 1000px; margin: 0 auto; }

.buy { display: inline-block; position: relative; width: 74px; height: 36px; line-height: 36px; padding: 0 20px 0 70px; font-size: 20px; font-weight: bold; color: #ff9600; text-decoration: none; background: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.buy span { position: absolute; top: 0; left: 0; bottom: 0; width: 52px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; background: #ff9600; }
.buy span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -13px 0 0 -13px; background: url('../img/icons-sb44f6ff381.png') 0 -859px no-repeat; width: 26px; height: 25px; }

.title { font-size: 22px; color: #7b7b7b; text-align: center; margin-bottom: 10px; }

.divide { width: 100%; height: 0px; border-bottom: 1px dashed #b8b8b8; }

.divide_white { border-bottom: 1px dotted white; }

.input { position: relative; margin-bottom: 16px; }
.input input { width: 100%; padding: 0 12px 0 50px; height: 31px; border: 1px solid #dfdfdf; background: #dfdfdf; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.input input:-moz-placeholder, .input input::-moz-placeholder { color: #7b7b7b; opacity: 1; }
.input input::-webkit-input-placeholder { color: #7b7b7b; }
.input span { position: absolute; top: 1px; left: 1px; bottom: 1px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; background: #7b7b7b; width: 38px; }

.input_contant span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-sb44f6ff381.png') 0 -1032px no-repeat; width: 21px; height: 20px; }

.input_phone span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-sb44f6ff381.png') 0 -894px no-repeat; width: 20px; height: 20px; }

.input_mail span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-sb44f6ff381.png') 0 -1005px no-repeat; width: 24px; height: 17px; }

.submit { display: inline-block; height: 35px; line-height: 35px; padding: 0 19px; border: 1px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-size: 15px; color: white; background: transparent; }

.up { position: absolute; bottom: 0px; left: 50%; margin-left: -30px; width: 60px; height: 16px; background: white; text-align: center; font-size: 11px; color: #7b7b7b; z-index: 2; cursor: pointer; }
.up i { position: absolute; top: 0px; left: 50%; margin-left: -9px; background: url('../img/icons-sb44f6ff381.png') 0 -1439px no-repeat; width: 18px; height: 5px; }
.up span { position: relative; top: 8px; }
.up:before { content: ""; position: absolute; top: 100%; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 19px 30px 0 30px; border-color: white transparent transparent transparent; }

.up_grey { background: #ededed; }
.up_grey:before { width: 0px; height: 0px; border-style: solid; border-width: 19px 30px 0 30px; border-color: #ededed transparent transparent transparent; }

.checkbox { position: relative; display: block; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox span { position: relative; display: inline-block; margin-left: 4px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #838383; }
.checkbox span:before { content: ""; position: absolute; top: 4px; left: -19px; width: 10px; height: 10px; border: 1px solid #cfcfcf; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.checkbox input:checked + span:after { content: ""; position: absolute; top: 6px; left: -17px; background: url('../img/icons-sb44f6ff381.png') 0 -1300px no-repeat; width: 8px; height: 9px; }

.breadcrumbs { margin-bottom: 17px; }
.breadcrumbs ul { *zoom: 1; }
.breadcrumbs ul:after { content: " "; display: table; clear: both; }
.breadcrumbs ul li { position: relative; float: left; margin-right: 26px; }
.breadcrumbs ul li:after { content: "/"; position: absolute; top: 0px; left: -15px; color: #89be18; }
.breadcrumbs ul li:first-child { padding-left: 23px; }
.breadcrumbs ul li:first-child:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1198px no-repeat; width: 14px; height: 13px; }
.breadcrumbs ul li:first-child:after { content: ""; }
.breadcrumbs ul a { font-size: 13px; color: #89be18; text-decoration: none; }
.breadcrumbs ul a:hover { border-bottom: 1px dotted; }

.advert { clear: both; height: 88px; margin-bottom: 17px; border: 1px solid #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.h2 { font-size: 23px; color: #717171; font-weight: normal; margin-bottom: 18px; }

.link { display: inline-block; padding: 0 12px; height: 30px; line-height: 30px; margin-bottom: 19px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ededed; text-decoration: none; color: #636363; }
.link span { color: #b2b2b2; }

.pagination { *zoom: 1; margin: 56px 0 65px; }
.pagination:after { content: " "; display: table; clear: both; }

.pagination__left { float: left; }
.pagination__left ul { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; }
.pagination__left ul li { float: left; width: 36px; margin-left: 1px; background: #ededed; }
.pagination__left ul li:first-child { margin-left: 0; }
.pagination__left ul li a { display: block; position: relative; text-align: center; height: 37px; line-height: 37px; text-decoration: none; color: #636363; }
.pagination__left ul li a:hover { background: #d4d4d4; }
.pagination__left ul li.is-empty { background: transparent; }
.pagination__left ul li.is-empty a { cursor: default; }
.pagination__left ul li.is-empty a:hover { background: transparent; }
.pagination__left ul li.next { width: auto; }
.pagination__left ul li.next a { padding: 0 28px 0 14px; }
.pagination__left ul li.next a:before { content: ""; position: absolute; top: 12px; right: 13px; background: url('../img/icons-sb44f6ff381.png') 0 -1255px no-repeat; width: 8px; height: 14px; }
.pagination__left ul li.is-active { background: #d4d4d4; }

.pagination__right { float: right; }

.header { *zoom: 1; padding: 9px 0 10px; }
.header:after { content: " "; display: table; clear: both; }
.header a { font-size: 13px; text-decoration: none; color: #838383; }
.header a:hover { text-decoration: underline; }
.header .divide { clear: both; margin-bottom: 17px; }
.header .checkbox { margin-bottom: 8px; }

.logo { float: left; }
.logo a { font: 0/0 a; text-shadow: none; color: transparent; display: block; background: url('../img/icons-sb44f6ff381.png') 0 0 no-repeat; width: 236px; height: 65px; }

.header__toolbar { float: right; width: 495px; }

.header__tools { font-size: 0; line-height: 1; margin-bottom: 8px; padding-top: 2px; }

.basket { display: inline-block; vertical-align: middle; width: 110px; text-align: center; font-size: 13px; }
.basket i, .basket span { vertical-align: middle; }

.basket__icon { display: inline-block; margin-right: 4px; background: url('../img/icons-sb44f6ff381.png') 0 -1414px no-repeat; width: 15px; height: 15px; }

.basket__item { display: inline-block; padding: 0 6px; height: 18px; margin-left: 4px; line-height: 18px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #a9cb5b; font-size: 11px; color: white; }

.language { display: inline-block; vertical-align: middle; margin-right: 30px; font-size: 12px; }
.language ul { *zoom: 1; }
.language ul:after { content: " "; display: table; clear: both; }
.language ul li { float: left; position: relative; margin-left: 8px; }
.language ul li:before { content: "|"; position: absolute; top: 0; left: -6px; }
.language ul li:first-child { margin-left: 0; }
.language ul li:first-child:before { content: ""; }

.registration, .log-in { display: inline-block; vertical-align: middle; margin-right: 27px; position: relative; padding-left: 16px; }
.registration:before, .log-in:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1454px no-repeat; width: 11px; height: 11px; }

.log-in:before { background: url('../img/icons-sb44f6ff381.png') 0 -1391px no-repeat; width: 10px; height: 13px; }

.search { position: relative; }

.search__input { width: 100%; height: 33px; margin-bottom: 8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 0 128px 0 12px; background: #ededed; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.search__sbmit { position: absolute; top: 0; right: 0; width: 116px; height: 33px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; background: #aacc5c; }
.search__sbmit:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-sb44f6ff381.png') 0 -647px no-repeat; width: 20px; height: 20px; }

.footer { height: 85px; }

.copyrights { float: left; font-size: 14px; padding-top: 28px; }
.copyrights a { font-weight: bold; color: #89be18; text-decoration: none; }
.copyrights p { color: #7b7b7b; }

.socials { float: right; }
.socials li { float: left; padding-top: 25px; margin-left: 4px; }
.socials li a { display: inline-block; position: relative; width: 38px; height: 38px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #7b7b7b; }
.socials li a:before { content: ""; position: absolute; top: 7px; left: 50%; }

.f:before { margin-left: -7px; background: url('../img/icons-sb44f6ff381.png') 0 -1221px no-repeat; width: 13px; height: 24px; }

.vk:before { margin-left: -8px; background: url('../img/icons-sb44f6ff381.png') 0 -1115px no-repeat; width: 18px; height: 22px; }

.yt:before { margin-left: -12px; background: url('../img/icons-sb44f6ff381.png') 0 -826px no-repeat; width: 24px; height: 23px; }

.tw:before { margin-top: 3px; margin-left: -11px; background: url('../img/icons-sb44f6ff381.png') 0 -947px no-repeat; width: 23px; height: 19px; }

.od:before { margin-left: -7px; background: url('../img/icons-sb44f6ff381.png') 0 -760px no-repeat; width: 14px; height: 24px; }

.gp:before { margin-top: 2px; margin-left: -10px; background: url('../img/icons-sb44f6ff381.png') 0 -794px no-repeat; width: 24px; height: 22px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.banner { height: 350px; background: url(../img/banner.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-bottom: 90px; }

.banner__inner { *zoom: 1; }
.banner__inner:after { content: " "; display: table; clear: both; }

.banner__hands { position: absolute; left: 0; bottom: 0; }

.banner__content { float: right; width: 486px; height: 283px; padding-top: 67px; }

.banner__logo { display: block; background: url('../img/icons-sb44f6ff381.png') 0 -75px no-repeat; width: 247px; height: 48px; margin-bottom: 23px; }

.banner__slogan { font: 35px Calibri, sans-serif; line-height: 1.2; color: white; margin-bottom: 5px; }
.banner__slogan span { display: inline-block; background: rgba(255, 255, 255, 0.3); padding: 0 12px; }

.banner__text { font-size: 21px; font-style: italic; font-weight: 300; color: white; }

.category { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; margin-bottom: 17px; }
.category:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.category__item { position: relative; width: 248px; height: 126px; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.category__item a { display: block; text-align: center; padding-top: 80px; font-size: 13px; text-decoration: none; color: white; }

.category__img { position: absolute; left: 50%; top: -52%; margin: 0 0 0 -66px; width: 133px; height: 133px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; }

.category__title { font-size: 18px; text-transform: uppercase; }

.plants { -webkit-border-radius: 20px 0 0 20px; -moz-border-radius: 20px 0 0 20px; -ms-border-radius: 20px 0 0 20px; -o-border-radius: 20px 0 0 20px; border-radius: 20px 0 0 20px; background: #aacc5c; }
.plants .category__img { border: 6px solid #aacc5c; }
.plants .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -45px 0 0 -37px; background: url('../img/icons-sb44f6ff381.png') 0 -273px no-repeat; width: 74px; height: 91px; }

.goods { background: #ff9600; }
.goods .category__img { border: 6px solid #ff9600; }
.goods .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -26px 0 0 -47px; background: url('../img/icons-sb44f6ff381.png') 0 -210px no-repeat; width: 95px; height: 53px; }

.companies { background: #6bbbff; }
.companies .category__img { border: 6px solid #6bbbff; }
.companies .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -33px 0 0 -48px; background: url('../img/icons-sb44f6ff381.png') 0 -133px no-repeat; width: 96px; height: 67px; }

.serv { -webkit-border-radius: 0 20px 20px 0; -moz-border-radius: 0 20px 20px 0; -ms-border-radius: 0 20px 20px 0; -o-border-radius: 0 20px 20px 0; border-radius: 0 20px 20px 0; background: #ff6757; }
.serv .category__img { border: 6px solid #ff6757; }
.serv .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -37px 0 0 -38px; background: url('../img/icons-sb44f6ff381.png') 0 -374px no-repeat; width: 77px; height: 74px; }

.bestsellers { position: relative; margin-bottom: 22px; }
.bestsellers .cycle-slideshow { margin-left: -12px; }

.bestsellers__prev, .leaders__prev { position: absolute; left: -50px; top: 50%; margin-top: -24px; background: url('../img/icons-sb44f6ff381.png') 0 -499px no-repeat; width: 28px; height: 48px; cursor: pointer; }

.bestsellers__next, .leaders__next { position: absolute; right: -50px; top: 50%; margin-top: -24px; background: url('../img/icons-sb44f6ff381.png') 0 -557px no-repeat; width: 28px; height: 48px; cursor: pointer; }

.card { vertical-align: top; display: inline-block; width: 213px; height: 358px; padding: 14px; margin-left: 12px; background: #ededed; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }

.card__img { height: 200px; line-height: 1; font-size: 0; text-align: center; margin-bottom: 15px; }
.card__img img { display: inline-block; vertical-align: middle; max-width: 100%; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }

.card__descr { height: 36px; overflow: hidden; margin-bottom: 20px; text-align: center; }

.card__price { text-align: center; margin-bottom: 19px; }

.price { display: inline-block; font-size: 23px; font-weight: bold; color: #ff9600; }

.old-price { position: relative; font-size: 15px; margin-right: 18px; }
.old-price:before { content: ""; position: absolute; left: -2px; right: -2px; height: 2px; top: 8px; background: #a3a3a3; }

.card__btn { text-align: center; }

.leaders .cycle-slideshow { margin-bottom: 20px; margin-top: 24px; }

.leaders__item { position: relative; width: 244px; text-align: center; display: inline-block; vertical-align: top; }
.leaders__item a { display: inline-block; height: 92px; line-height: 92px; }
.leaders__item a img { vertical-align: middle; }

.info { padding: 30px 0 24px; background: #ededed; }

.info_main { background: #7b7b7b; color: white; }

.information { float: left; margin-right: 50px; width: 240px; }
.information ul { padding-top: 5px; }
.information a { text-decoration: none; color: white; }
.information a:hover { text-decoration: underline; }

.information__title { text-transform: uppercase; font-size: 18px; margin-bottom: 2px; }

.reg-form { float: right; width: 367px; }

.reg-form__title { text-align: center; text-transform: uppercase; font-size: 18px; margin-bottom: 5px; }

.reg-form__btn { text-align: center; }

.products { position: relative; padding: 20px 0 30px; background: #ededed; }

.products__item { float: left; width: 250px; }
.products__item ul { position: relative; text-align: center; }
.products__item ul:before { content: ""; position: absolute; top: 10px; height: 174px; right: 0; width: 0px; border-right: 1px dashed #c8c8c8; }
.products__item ul li { margin-bottom: 4px; }
.products__item ul a { font-size: 14px; color: #787878; text-transform: none; text-decoration: none; }
.products__item ul a:hover { text-decoration: underline; }
.products__item:first-child ul:after { content: ""; position: absolute; top: 10px; height: 174px; left: 0; width: 0px; border-right: 1px dashed #c8c8c8; }

.products__title { margin-bottom: 30px; font-size: 18px; color: #7b7b7b; text-transform: uppercase; text-align: center; }
.products__title i { display: inline-block; vertical-align: middle; margin-right: 15px; }

.products__title_plants i { background: url('../img/icons-sb44f6ff381.png') 0 -677px no-repeat; width: 28px; height: 34px; }

.products__title_goods i { background: url('../img/icons-sb44f6ff381.png') 0 -615px no-repeat; width: 40px; height: 22px; }

.products__title_companies i { background: url('../img/icons-sb44f6ff381.png') 0 -458px no-repeat; width: 42px; height: 31px; }

.products__title_serv i { background: url('../img/icons-sb44f6ff381.png') 0 -721px no-repeat; width: 31px; height: 29px; }

.main { *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }

.sidebar { width: 240px; float: left; margin-right: 20px; }

.catlist { padding-left: 22px; margin-bottom: 30px; }
.catlist li { position: relative; margin-bottom: 10px; color: #c5c5c5; }
.catlist li:before { content: ""; position: absolute; top: 3px; left: -19px; background: url('../img/icons-sb44f6ff381.png') 0 -1279px no-repeat; width: 11px; height: 11px; }
.catlist li a { font-size: 13px; color: #636363; text-decoration: none; }
.catlist li a:hover { text-decoration: underline; color: #89be18; }

.content { float: right; width: 740px; }

.filters-wrap { border: 1px solid #e0e0e0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; margin-bottom: 20px; }

.filters { display: table; width: 100%; border-collapse: collapse; }
.filters li { display: table-cell; text-align: center; border-left: 1px solid #e0e0e0; }
.filters li:first-child { border-left: none; }
.filters li a { display: block; padding: 0 10px; height: 31px; line-height: 31px; text-align: center; font-size: 13px; color: #838383; text-decoration: none; }
.filters li a.is-active { background: #ededed; }
.filters li a span, .filters li a i { display: inline-block; vertical-align: middle; }
.filters li a i { margin-right: 10px; }

.marker-icon { background: url('../img/icons-sb44f6ff381.png') 0 -1147px no-repeat; width: 13px; height: 18px; }

.plants-icon { background: url('../img/icons-sb44f6ff381.png') 0 -1087px no-repeat; width: 15px; height: 18px; }

.goods-icon { background: url('../img/icons-sb44f6ff381.png') 0 -924px no-repeat; width: 23px; height: 13px; }

.serv-icon { background: url('../img/icons-sb44f6ff381.png') 0 -976px no-repeat; width: 20px; height: 19px; }

.sheet__item { border-bottom: 1px dashed #cfcfcf; margin-bottom: 19px; }

.sheet__title { font-size: 20px; color: #89be18; margin-bottom: 10px; }

.sheet__content { *zoom: 1; }
.sheet__content:after { content: " "; display: table; clear: both; }

.sheet__descr { float: left; width: 470px; }
.sheet__descr p { margin-bottom: 18px; }

.sheet__info { position: relative; float: right; width: 181px; padding: 18px 13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e0e0e0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.sheet__info li { position: relative; padding-left: 25px; margin-bottom: 13px; }
.sheet__info li span { color: #838383; }
.sheet__info li a { color: #838383; text-decoration: none; border-bottom: 1px dotted; }
.sheet__info li a:hover { color: #aacc5c; }

.sheet__phone:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1062px no-repeat; width: 15px; height: 15px; }

.sheet__map:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1147px no-repeat; width: 13px; height: 18px; }

.sheet__comment:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1175px no-repeat; width: 16px; height: 13px; }

.sheet__status { position: absolute; top: -10px; right: -6px; height: 19px; line-height: 19px; padding: 0 5px 0 9px; -webkit-border-radius: 8px 0 0 8px; -moz-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; text-transform: uppercase; color: white; text-align: center; }

.sheet__status_gold { background: #feac0d; }
.sheet__status_gold:before { content: ""; position: absolute; top: 100%; right: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1334px no-repeat; width: 6px; height: 4px; }

.sheet__status_platinum { background: #fa5662; }
.sheet__status_platinum:before { content: ""; position: absolute; top: 100%; right: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1348px no-repeat; width: 6px; height: 4px; }

.sheet__status_silver { background: #878787; }
.sheet__status_silver:before { content: ""; position: absolute; top: 100%; right: 0px; background: url('../img/icons-sb44f6ff381.png') 0 -1362px no-repeat; width: 6px; height: 4px; }
