/*done by Coderiver.com.ua */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1000px; font-size: 13px; font-family: Arial, Calibri, sans-serif; color: #636363; line-height: 1.4; }

.clr { *zoom: 1; }
.clr:after { content: " "; display: table; clear: both; }

.container { position: relative; width: 1000px; margin: 0 auto; }

.buy { display: inline-block; position: relative; width: 74px; height: 36px; line-height: 36px; padding: 0 20px 0 70px; font-size: 20px; font-weight: bold; color: #ff9600; text-decoration: none; background: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.buy span { position: absolute; top: 0; left: 0; bottom: 0; width: 52px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; background: #ff9600; }
.buy span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -13px 0 0 -13px; background: url('../img/icons-s29e8bbea6c.png') 0 -1152px no-repeat; width: 26px; height: 25px; }
.buy span:after { content: ""; position: absolute; top: 6px; bottom: 6px; right: -1px; width: 0; border-right: 1px dotted white; }
.buy:hover { background: #ff9600; color: white; }

.title { font-size: 22px; color: #7b7b7b; text-align: center; margin-bottom: 10px; }

.divide { width: 100%; height: 0px; border-bottom: 1px dashed #b8b8b8; }

.divide_white { border-bottom: 1px dotted white; }

.input { position: relative; margin-bottom: 16px; }
.input input { width: 100%; padding: 0 12px 0 50px; height: 31px; border: 1px solid #dfdfdf; background: #dfdfdf; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.input input:-moz-placeholder, .input input::-moz-placeholder { color: #7b7b7b; opacity: 1; }
.input input::-webkit-input-placeholder { color: #7b7b7b; }
.input span { position: absolute; top: 1px; left: 1px; bottom: 1px; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; -ms-border-radius: 5px 0 0 5px; -o-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; background: #7b7b7b; width: 38px; }

.input_contant span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-s29e8bbea6c.png') 0 -1412px no-repeat; width: 21px; height: 20px; }

.input_phone span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-s29e8bbea6c.png') 0 -1245px no-repeat; width: 20px; height: 20px; }

.input_mail span:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-s29e8bbea6c.png') 0 -1385px no-repeat; width: 24px; height: 17px; }

.submit { display: inline-block; height: 35px; line-height: 35px; padding: 0 19px; border: 1px solid white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; font-size: 15px; color: white; background: transparent; }

.up { position: absolute; top: -16px; left: 50%; margin-left: -30px; width: 60px; height: 16px; background: white; text-align: center; font-size: 11px; color: #7b7b7b; z-index: 2; cursor: pointer; }
.up i { position: absolute; top: 0px; left: 50%; margin-left: -9px; background: url('../img/icons-s29e8bbea6c.png') 0 -2413px no-repeat; width: 18px; height: 5px; }
.up span { position: relative; top: 8px; }
.up:before { content: ""; position: absolute; top: 100%; left: 0; width: 0px; height: 0px; border-style: solid; border-width: 19px 30px 0 30px; border-color: white transparent transparent transparent; }

.up_grey { bottom: 0; top: auto; background: #7b7b7b; color: white; }
.up_grey i { background: url('../img/icons-s29e8bbea6c.png') 0 -2428px no-repeat; width: 18px; height: 5px; }
.up_grey:before { width: 0px; height: 0px; border-style: solid; border-width: 19px 30px 0 30px; border-color: #7b7b7b transparent transparent transparent; }

.checkbox { position: relative; display: block; }
.checkbox input { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox span { position: relative; display: inline-block; margin-left: 4px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #838383; }
.checkbox span:before { content: ""; position: absolute; top: 4px; left: -19px; width: 10px; height: 10px; border: 1px solid #cfcfcf; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; }
.checkbox input:checked + span:after { content: ""; position: absolute; top: 6px; left: -17px; background: url('../img/icons-s29e8bbea6c.png') 0 -2110px no-repeat; width: 8px; height: 9px; }

.breadcrumbs { margin-bottom: 17px; }
.breadcrumbs ul { *zoom: 1; }
.breadcrumbs ul:after { content: " "; display: table; clear: both; }
.breadcrumbs ul li { position: relative; float: left; margin-right: 26px; }
.breadcrumbs ul li:after { content: "/"; position: absolute; top: 0px; left: -15px; color: #89be18; }
.breadcrumbs ul li:first-child { padding-left: 23px; }
.breadcrumbs ul li:first-child:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -1834px no-repeat; width: 14px; height: 13px; }
.breadcrumbs ul li:first-child:after { content: ""; }
.breadcrumbs ul a { font-size: 13px; color: #89be18; text-decoration: none; }
.breadcrumbs ul a:hover { border-bottom: 1px dotted; }

.advert { clear: both; height: 88px; margin-bottom: 17px; border: 1px solid #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }

.h2, .h3, .h4 { font-size: 23px; color: #717171; font-weight: normal; margin-bottom: 18px; }
.h2 p, .h3 p, .h4 p { font-size: 12px; }

.h3 { font-size: 22px; }

.h4 { font-size: 18px; }

.link { display: inline-block; padding: 0 12px; height: 30px; line-height: 30px; margin-bottom: 19px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ededed; text-decoration: none; color: #636363; -webkit-transition: background 0.15s linear; -moz-transition: background 0.15s linear; -o-transition: background 0.15s linear; transition: background 0.15s linear; }
.link span { color: #b2b2b2; }
.link:hover { background: #d4d4d4; }

.pagination { *zoom: 1; margin: 56px 0 65px; }
.pagination:after { content: " "; display: table; clear: both; }

.pagination__left { float: left; }
.pagination__left ul { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; }
.pagination__left ul li { float: left; width: 36px; margin-left: 1px; background: #ededed; }
.pagination__left ul li:first-child { margin-left: 0; }
.pagination__left ul li a { display: block; position: relative; text-align: center; height: 37px; line-height: 37px; text-decoration: none; color: #636363; }
.pagination__left ul li a:hover { background: #d4d4d4; }
.pagination__left ul li.is-empty { background: transparent; }
.pagination__left ul li.is-empty a { cursor: default; }
.pagination__left ul li.is-empty a:hover { background: transparent; }
.pagination__left ul li.next { width: auto; }
.pagination__left ul li.next a { padding: 0 28px 0 14px; }
.pagination__left ul li.next a:before { content: ""; position: absolute; top: 12px; right: 13px; background: url('../img/icons-s29e8bbea6c.png') 0 -1914px no-repeat; width: 8px; height: 14px; }
.pagination__left ul li.is-active { background: #d4d4d4; }

.pagination__right { float: right; }

.tab-wrap { padding-top: 26px; margin-bottom: 34px; }

.tab { *zoom: 1; border-bottom: 1px solid #ededed; }
.tab:after { content: " "; display: table; clear: both; }

.tab__item { float: left; height: 33px; padding: 0 25px; line-height: 33px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ededed; border-bottom: none; border-left: none; }
.tab__item:first-child { -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -ms-border-radius: 5px 0 0 0; -o-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; border-left: 1px solid #ededed; }
.tab__item.tab__item_last { -webkit-border-radius: 0 5px 0 0; -moz-border-radius: 0 5px 0 0; -ms-border-radius: 0 5px 0 0; -o-border-radius: 0 5px 0 0; border-radius: 0 5px 0 0; }
.tab__item.is-active { background: #ededed; }
.tab__item a { text-decoration: none; font-size: 13px; color: #636363; font-weight: bold; }
.tab__item a span { color: #a3a3a3; font-weight: normal; }

.tab-cont { padding-top: 21px; }
.tab-cont p { margin-bottom: 20px; }

.header { *zoom: 1; padding: 9px 0 10px; }
.header:after { content: " "; display: table; clear: both; }
.header a { font-size: 13px; text-decoration: none; color: #838383; }
.header a:hover { text-decoration: underline; }
.header .divide { clear: both; margin-bottom: 17px; }
.header .checkbox { margin-bottom: 8px; }

.logo { float: left; }
.logo a { font: 0/0 a; text-shadow: none; color: transparent; display: block; background: url('../img/icons-s29e8bbea6c.png') 0 0 no-repeat; width: 236px; height: 65px; }

.header__toolbar { float: right; width: 495px; }

.header__tools { font-size: 0; line-height: 1; margin-bottom: 8px; padding-top: 2px; }

.basket { display: inline-block; vertical-align: middle; width: 110px; text-align: center; font-size: 13px; }
.basket i, .basket span { vertical-align: middle; }

.basket__icon { display: inline-block; margin-right: 4px; background: url('../img/icons-s29e8bbea6c.png') 0 -2292px no-repeat; width: 15px; height: 15px; }

.basket__item { display: inline-block; padding: 0 6px; height: 18px; margin-left: 4px; line-height: 18px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background: #a9cb5b; font-size: 11px; color: white; }

.language { display: inline-block; vertical-align: middle; margin-right: 30px; font-size: 12px; }
.language ul { *zoom: 1; }
.language ul:after { content: " "; display: table; clear: both; }
.language ul li { float: left; position: relative; margin-left: 8px; }
.language ul li:before { content: "|"; position: absolute; top: 0; left: -6px; }
.language ul li:first-child { margin-left: 0; }
.language ul li:first-child:before { content: ""; }

.registration, .log-in { display: inline-block; vertical-align: middle; margin-right: 27px; position: relative; padding-left: 16px; }
.registration:before, .log-in:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -2443px no-repeat; width: 11px; height: 11px; }

.log-in:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2269px no-repeat; width: 10px; height: 13px; }

.search { position: relative; }

.search__input { width: 100%; height: 33px; margin-bottom: 8px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 0 128px 0 12px; background: #ededed; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.search__sbmit { position: absolute; top: 0; right: 0; width: 116px; height: 33px; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; background: #aacc5c; }
.search__sbmit:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -10px 0 0 -10px; background: url('../img/icons-s29e8bbea6c.png') 0 -839px no-repeat; width: 20px; height: 20px; }

.footer { height: 85px; }

.copyrights { float: left; font-size: 14px; line-height: 85px; }
.copyrights a { font-weight: bold; color: #89be18; text-decoration: none; }
.copyrights p { color: #7b7b7b; }

.socials { float: right; }
.socials li { float: left; padding-top: 25px; margin-left: 4px; }
.socials li a { display: inline-block; position: relative; width: 38px; height: 38px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #7b7b7b; }
.socials li a:before { content: ""; position: absolute; top: 7px; left: 50%; }

.f:before { margin-left: -7px; background: url('../img/icons-s29e8bbea6c.png') 0 -1880px no-repeat; width: 13px; height: 24px; }

.vk:before { margin-left: -8px; background: url('../img/icons-s29e8bbea6c.png') 0 -1574px no-repeat; width: 18px; height: 22px; }

.yt:before { margin-left: -12px; background: url('../img/icons-s29e8bbea6c.png') 0 -1094px no-repeat; width: 24px; height: 23px; }

.tw:before { margin-top: 3px; margin-left: -11px; background: url('../img/icons-s29e8bbea6c.png') 0 -1298px no-repeat; width: 23px; height: 19px; }

.od:before { margin-left: -7px; background: url('../img/icons-s29e8bbea6c.png') 0 -1028px no-repeat; width: 14px; height: 24px; }

.gp:before { margin-top: 2px; margin-left: -10px; background: url('../img/icons-s29e8bbea6c.png') 0 -1062px no-repeat; width: 24px; height: 22px; }

.feedback { overflow: hidden; text-align: center; }

.feedback__inner { display: inline-block; margin-top: 30px; background: #ededed; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; padding: 0 12px; }
.feedback__inner span, .feedback__inner a { position: relative; color: #7b7b7b; font-size: 13px; display: inline-block; vertical-align: middle; height: 27px; line-height: 27px; }

.feedback__link { text-decoration: none; padding-left: 30px; }
.feedback__link:before { content: ""; position: absolute; top: 4px; left: 6px; background: url('../img/icons-s29e8bbea6c.png') 0 -913px no-repeat; width: 20px; height: 18px; }

.feedback__tel { padding-left: 20px; margin-right: 20px; }
.feedback__tel:before { content: ""; position: absolute; top: 6px; left: 4px; background: url('../img/icons-s29e8bbea6c.png') 0 -1720px no-repeat; width: 11px; height: 15px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.banner { height: 350px; background: url(../img/banner.jpg); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; margin-bottom: 90px; }

.banner__inner { *zoom: 1; }
.banner__inner:after { content: " "; display: table; clear: both; }

.banner__hands { position: absolute; left: 0; bottom: 0; }

.banner__content { float: right; width: 486px; height: 283px; padding-top: 67px; }

.banner__logo { display: block; background: url('../img/icons-s29e8bbea6c.png') 0 -75px no-repeat; width: 247px; height: 48px; margin-bottom: 23px; }

.banner__slogan { font: 35px Calibri, sans-serif; line-height: 1.2; color: white; margin-bottom: 5px; }
.banner__slogan span { display: inline-block; background: rgba(255, 255, 255, 0.3); padding: 0 12px; }

.banner__text { font-size: 21px; font-style: italic; font-weight: 300; color: white; }

.category { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; margin-bottom: 17px; }
.category:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.category__item { position: relative; width: 248px; height: 126px; display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; }
.category__item a { display: block; text-align: center; padding-top: 80px; font-size: 13px; text-decoration: none; color: white; }

.category__img { position: absolute; left: 50%; top: -52%; margin: 0 0 0 -66px; width: 133px; height: 133px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: white; }

.category__title { font-size: 18px; text-transform: uppercase; }

.plants { -webkit-border-radius: 20px 0 0 20px; -moz-border-radius: 20px 0 0 20px; -ms-border-radius: 20px 0 0 20px; -o-border-radius: 20px 0 0 20px; border-radius: 20px 0 0 20px; background: #aacc5c; }
.plants .category__img { border: 6px solid #aacc5c; }
.plants .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -45px 0 0 -37px; background: url('../img/icons-s29e8bbea6c.png') 0 -273px no-repeat; width: 74px; height: 91px; }

.goods { background: #ff9600; }
.goods .category__img { border: 6px solid #ff9600; }
.goods .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -26px 0 0 -47px; background: url('../img/icons-s29e8bbea6c.png') 0 -210px no-repeat; width: 95px; height: 53px; }

.companies { background: #6bbbff; }
.companies .category__img { border: 6px solid #6bbbff; }
.companies .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -33px 0 0 -48px; background: url('../img/icons-s29e8bbea6c.png') 0 -133px no-repeat; width: 96px; height: 67px; }

.serv { -webkit-border-radius: 0 20px 20px 0; -moz-border-radius: 0 20px 20px 0; -ms-border-radius: 0 20px 20px 0; -o-border-radius: 0 20px 20px 0; border-radius: 0 20px 20px 0; background: #ff6757; }
.serv .category__img { border: 6px solid #ff6757; }
.serv .category__img:before { content: ""; position: absolute; top: 50%; left: 50%; margin: -37px 0 0 -38px; background: url('../img/icons-s29e8bbea6c.png') 0 -374px no-repeat; width: 77px; height: 74px; }

.bestsellers { position: relative; margin-bottom: 22px; }
.bestsellers .cycle-slideshow { margin-left: -12px; }

.bestsellers__prev, .leaders__prev { position: absolute; left: -50px; top: 50%; margin-top: -24px; background: url('../img/icons-s29e8bbea6c.png') 0 -643px no-repeat; width: 28px; height: 48px; cursor: pointer; }

.bestsellers__next, .leaders__next { position: absolute; right: -50px; top: 50%; margin-top: -24px; background: url('../img/icons-s29e8bbea6c.png') 0 -701px no-repeat; width: 28px; height: 48px; cursor: pointer; }

.card { vertical-align: top; display: inline-block; width: 239px; height: 364px; overflow: hidden; padding: 14px 0; margin-left: 12px; border: 1px solid #ededed; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }

.card__img { height: 200px; line-height: 1; font-size: 0; padding: 0 14px; text-align: center; margin-bottom: 15px; }
.card__img img { display: inline-block; vertical-align: middle; max-width: 100%; -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; }

.card__descr { height: 35px; overflow: hidden; text-align: center; padding: 0 14px 20px; border-bottom: 1px dotted #ededed; }

.card__price { text-align: center; height: 42px; line-height: 42px; background: #f9f9f9; border-bottom: 1px dotted #ededed; }

.price { display: inline-block; font-size: 23px; font-weight: bold; color: #ff9600; }

.old-price { position: relative; font-size: 15px; margin-right: 18px; }
.old-price:before { content: ""; position: absolute; left: -2px; right: -2px; height: 2px; top: 8px; background: #a3a3a3; }

.card__btn { text-align: center; padding: 14px 0; background: #ededed; }

.leaders .cycle-slideshow { margin-bottom: 20px; margin-top: 24px; }

.leaders__item { position: relative; width: 244px; text-align: center; display: inline-block; vertical-align: top; }
.leaders__item a { display: inline-block; height: 92px; line-height: 92px; }
.leaders__item a img { vertical-align: middle; }

.info { position: relative; padding: 30px 0 24px; background: #ededed; }

.info_main { background: #7b7b7b; color: white; }
.info_main .information a { text-decoration: none; color: white; }
.info_main .information a:hover { text-decoration: underline; }

.information { float: left; margin-right: 50px; width: 240px; }
.information ul { padding-top: 5px; }
.information a { text-decoration: none; color: #7b7b7b; }
.information a:hover { text-decoration: underline; }

.information__title { text-transform: uppercase; font-size: 18px; margin-bottom: 2px; }

.reg-form { float: right; }

.reg-form_main { width: 367px; }

.reg-form__title { text-align: center; text-transform: uppercase; font-size: 18px; margin-bottom: 5px; }

.reg-form__btn { text-align: center; }

.products { position: relative; padding: 20px 0 30px; background: #ededed; }

.products__item { float: left; width: 250px; }
.products__item ul { position: relative; text-align: center; }
.products__item ul:before { content: ""; position: absolute; top: 10px; height: 174px; right: 0; width: 0px; border-right: 1px dashed #c8c8c8; }
.products__item ul li { margin-bottom: 4px; }
.products__item ul a { font-size: 14px; color: #787878; text-transform: none; text-decoration: none; }
.products__item ul a:hover { text-decoration: underline; }
.products__item:first-child ul:after { content: ""; position: absolute; top: 10px; height: 174px; left: 0; width: 0px; border-right: 1px dashed #c8c8c8; }

.products__title { margin-bottom: 30px; font-size: 18px; color: #7b7b7b; text-transform: uppercase; text-align: center; }
.products__title i { display: inline-block; vertical-align: middle; margin-right: 15px; }

.products__title_plants i { background: url('../img/icons-s29e8bbea6c.png') 0 -869px no-repeat; width: 28px; height: 34px; }

.products__title_goods i { background: url('../img/icons-s29e8bbea6c.png') 0 -807px no-repeat; width: 40px; height: 22px; }

.products__title_companies i { background: url('../img/icons-s29e8bbea6c.png') 0 -458px no-repeat; width: 42px; height: 31px; }

.products__title_serv i { background: url('../img/icons-s29e8bbea6c.png') 0 -941px no-repeat; width: 31px; height: 29px; }

.main { *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }

.sidebar { width: 240px; float: left; margin-right: 20px; }
.sidebar .contacts { margin-bottom: 17px; }

.sidebar__banner { margin-bottom: 17px; }

.catlist { padding-left: 22px; margin-bottom: 30px; }
.catlist li { position: relative; margin-bottom: 10px; color: #c5c5c5; }
.catlist li:before { content: ""; position: absolute; top: 3px; left: -19px; background: url('../img/icons-s29e8bbea6c.png') 0 -1938px no-repeat; width: 11px; height: 11px; }
.catlist li a { font-size: 13px; color: #636363; text-decoration: none; }
.catlist li a:hover { text-decoration: underline; color: #89be18; }

.content { float: right; width: 740px; }

.filters-wrap { border: 1px solid #e0e0e0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; margin-bottom: 20px; }

.filters { display: table; width: 100%; border-collapse: collapse; }
.filters li { display: table-cell; text-align: center; border-left: 1px solid #e0e0e0; }
.filters li:first-child { border-left: none; }
.filters li a { display: block; padding: 0 10px; height: 31px; line-height: 31px; text-align: center; font-size: 13px; color: #838383; text-decoration: none; }
.filters li a.is-active { background: #ededed; }
.filters li a span, .filters li a i { display: inline-block; vertical-align: middle; }
.filters li a i { margin-right: 10px; }

.marker-icon { background: url('../img/icons-s29e8bbea6c.png') 0 -1632px no-repeat; width: 13px; height: 18px; }

.plants-icon { background: url('../img/icons-s29e8bbea6c.png') 0 -1546px no-repeat; width: 15px; height: 18px; }

.goods-icon { background: url('../img/icons-s29e8bbea6c.png') 0 -1275px no-repeat; width: 23px; height: 13px; }

.serv-icon { background: url('../img/icons-s29e8bbea6c.png') 0 -1327px no-repeat; width: 20px; height: 19px; }

.sheet__item { border-bottom: 1px dashed #cfcfcf; margin-bottom: 19px; }

.sheet__title { font-size: 20px; color: #89be18; margin-bottom: 10px; }

.sheet__content { *zoom: 1; }
.sheet__content:after { content: " "; display: table; clear: both; }

.sheet__descr { float: left; width: 470px; }
.sheet__descr p { margin-bottom: 18px; }

.details { position: relative; float: right; width: 181px; padding: 18px 13px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #e0e0e0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
.details li { position: relative; padding-left: 25px; margin-bottom: 13px; }
.details li span { color: #838383; }
.details li a { color: #838383; text-decoration: none; border-bottom: 1px dotted; }
.details li a:hover { color: #aacc5c; }

.details__phone:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -1442px no-repeat; width: 15px; height: 15px; }
.details__phone .hide { position: absolute; top: 1px; right: 5px; font-size: 13px; background: white; }

.details__map:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -1632px no-repeat; width: 13px; height: 18px; }

.details__comment:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -1811px no-repeat; width: 16px; height: 13px; }

.details__status { position: absolute; top: -10px; right: -6px; height: 19px; line-height: 19px; padding: 0 5px 0 9px; -webkit-border-radius: 8px 0 0 8px; -moz-border-radius: 8px 0 0 8px; -ms-border-radius: 8px 0 0 8px; -o-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; text-transform: uppercase; color: white; text-align: center; }

.details__status_gold { background: #feac0d; }
.details__status_gold:before { content: ""; position: absolute; top: 100%; right: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -2191px no-repeat; width: 6px; height: 4px; }

.details__status_platinum { background: #fa5662; }
.details__status_platinum:before { content: ""; position: absolute; top: 100%; right: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -2205px no-repeat; width: 6px; height: 4px; }

.details__status_silver { background: #878787; }
.details__status_silver:before { content: ""; position: absolute; top: 100%; right: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -2219px no-repeat; width: 6px; height: 4px; }

.sidebar__logo { height: 238px; margin-bottom: 20px; font-size: 0; line-height: 238px; border: 1px solid #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; text-align: center; }
.sidebar__logo img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.sidebar__links { background: #aacc5c; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; margin-bottom: 22px; overflow: hidden; }
.sidebar__links ul li { position: relative; border-top: 1px dashed white; }
.sidebar__links ul li:first-child { border-top: none; }
.sidebar__links ul li:before { content: ""; position: absolute; top: 12px; left: 12px; background: url('../img/icons-s29e8bbea6c.png') 0 -2043px no-repeat; width: 11px; height: 11px; }
.sidebar__links ul a { display: block; height: 37px; line-height: 37px; padding-left: 37px; font-size: 14px; color: white; text-decoration: none; }
.sidebar__links ul a:hover { background: #99b853; }
.sidebar__links ul a:active { background: #91ae4e; -webkit-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.06); -moz-box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.06); box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.06); }

.services { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; overflow: hidden; background: #f9f9f9; margin-bottom: 20px; }

.topic { position: relative; height: 34px; line-height: 34px; background: #ededed; border-bottom: 2px solid #d8d8d8; text-align: center; font-size: 18px; color: #636363; -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; -ms-border-radius: 4px 4px 0 0; -o-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0; }
.topic:before { content: ""; position: absolute; top: 100%; left: 50%; margin-left: -7px; width: 0px; height: 0px; border-style: solid; border-width: 6px 7px 0 7px; border-color: #d8d8d8 transparent transparent transparent; z-index: 99; }

.services__list li, .dropdown__list li { position: relative; }
.services__list li:before, .dropdown__list li:before { content: ""; position: absolute; top: 0px; left: 15px; right: 15px; height: 0; border-top: 1px dashed #cfcfcf; z-index: 99; }
.services__list li a, .dropdown__list li a { position: relative; display: block; padding: 0 15px 0 39px; height: 33px; line-height: 33px; font-size: 13px; color: #636363; text-decoration: none; }
.services__list li a:before, .dropdown__list li a:before { content: ""; position: absolute; top: 10px; left: 15px; background: url('../img/icons-s29e8bbea6c.png') 0 -1980px no-repeat; width: 11px; height: 11px; }
.services__list li a:hover, .dropdown__list li a:hover { background: #ededed; }
.services__list li a:hover:before, .dropdown__list li a:hover:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2001px no-repeat; width: 11px; height: 11px; }
.services__list li:first-child:before, .dropdown__list li:first-child:before { display: none; }
.services__list li:first-child a, .dropdown__list li:first-child a { border-top: none; }

.link_download { position: relative; width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.link_download:before { content: ""; position: absolute; top: 5px; left: 20px; background: url('../img/icons-s29e8bbea6c.png') 0 -2317px no-repeat; width: 17px; height: 15px; }
.link_download:hover { background: #6f6f6f; color: white; }
.link_download:hover:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2388px no-repeat; width: 17px; height: 15px; }

.company__text { margin-bottom: 15px; }

.company__contacts { *zoom: 1; margin-bottom: 40px; }
.company__contacts:after { content: " "; display: table; clear: both; }

.company__adress { float: left; width: 260px; }

.contacts { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; background: #f9f9f9; border-bottom: 1px dashed #cfcfcf; }

.contacts__info { padding: 25px 15px 15px; line-height: 1.2; }
.contacts__info p { margin-bottom: 10px; }
.contacts__info p b { font-weight: bold; display: block; }
.contacts__info p a { text-decoration: none; color: inherit; }
.contacts__info p a:hover { text-decoration: underline; }

.company__map { float: right; width: 460px; }

.map { height: 290px; }

.request-wrap, .catalog { margin-left: -17px; margin-bottom: 26px; font-size: 0; line-height: 1; }

.request, .catalog__item { width: 235px; display: inline-block; vertical-align: top; margin-left: 17px; margin-bottom: 17px; }

.request__topper { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; border: 1px solid #ededed; border-bottom: 1px dashed #ededed; padding: 22px 10px 0px; }

.reqest__img { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; }
.reqest__img img { width: 100%; height: 100%; }

.request__title { width: 213px; height: 50px; overflow: hidden; font-size: 13px; color: #636363; text-align: center; font-weight: bold; display: table-cell; vertical-align: middle; }

.request__company { padding: 10px; background: #f9f9f9; font-size: 12px; height: 25px; line-height: 1.2; overflow: hidden; border-bottom: 1px dashed #ededed; }
.request__company a { color: #89be18; text-decoration: none; }
.request__company a:hover { text-decoration: underline; }

.request__price { height: 27px; line-height: 27px; padding: 0 10px; font-size: 12px; border-bottom: 1px dashed #ededed; background: #f9f9f9; }

.request__btn { height: 45px; padding-top: 10px; text-align: center; background: #f9f9f9; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; }
.request__btn a { position: relative; display: inline-block; height: 34px; line-height: 34px; width: 122px; padding-left: 46px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #aacc5c; color: white; text-align: left; text-decoration: none; font-size: 15px; }
.request__btn a:before { content: ""; position: absolute; top: 8px; left: 18px; background: url('../img/icons-s29e8bbea6c.png') 0 -2064px no-repeat; width: 15px; height: 15px; }

.catalog__topper { padding: 10px; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; border: 1px solid #ededed; border-bottom: 1px dashed #ededed; }

.catalog__img { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; overflow: hidden; margin-bottom: 10px; height: 207px; }
.catalog__img img { width: 100%; height: 100%; }

.buy_small { background: #ff9600; color: white; padding: 0 13px 0 40px; font-size: 15px; width: auto; height: 29px; line-height: 29px; }
.buy_small span { width: 36px; }
.buy_small span:after { display: none; }
.buy_small span:before { background: url('../img/icons-s29e8bbea6c.png') 0 -1660px no-repeat; width: 17px; height: 16px; margin: -9px 0 0 -8px; }

.catalog__buy { *zoom: 1; margin-bottom: 16px; }
.catalog__buy:after { content: " "; display: table; clear: both; }
.catalog__buy .price { font-size: 21px; float: left; margin-top: 4px; }
.catalog__buy .buy { float: right; }

.catalog__title { text-align: center; font-size: 13px; color: #636363; font-weight: bold; line-height: 1.2; }

.catalog__details { padding: 10px; background: #f9f9f9; border-bottom: #f9f9f9; border-bottom: 1px dashed #ededed; }
.catalog__details p { font-size: 12px; color: #89be18; line-height: 1.2; }

.catalog__company { padding: 10px 10px 10px 25px; background: #ededed; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; font-size: 12px; color: #636363; }
.catalog__company a { color: #89be18; }

.activity { padding-left: 14px; }
.activity li { padding-left: 25px; position: relative; margin-bottom: 17px; }
.activity li:before { content: ""; position: absolute; top: 2px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -1762px no-repeat; width: 15px; height: 15px; }
.activity li a { font-size: 14px; color: #636363; text-decoration: none; }

.activity__title { font-size: 17px; color: #636363; font-weight: bold; margin-bottom: 15px; }

.dropdown { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; margin-bottom: 20px; }

.dropdown__btn { position: relative; line-height: 1.2; padding: 5px 10px 5px 38px; cursor: pointer; background: #ededed; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; }
.dropdown__btn:before { content: ""; position: absolute; top: 50%; left: 14px; margin-top: -2px; background: url('../img/icons-s29e8bbea6c.png') 0 -2176px no-repeat; width: 11px; height: 5px; }
.dropdown__btn p { font-size: 18px; }
.dropdown__btn span { font-size: 13px; }

.dropdown__item { background: #f9f9f9; }
.dropdown__item:hover { background: #ededed; }
.dropdown__item:hover .dropdown__sublist { display: block; }

.dropdown__sublist { display: none; position: absolute; top: 0px; left: 100%; width: 195px; background: #ededed; -webkit-border-radius: 0 5px 5px 0; -moz-border-radius: 0 5px 5px 0; -ms-border-radius: 0 5px 5px 0; -o-border-radius: 0 5px 5px 0; border-radius: 0 5px 5px 0; overflow: hidden; }
.dropdown__sublist li:before { border-top: 1px dashed white; }
.dropdown__sublist li a { color: #636363; font-size: 13px; padding: 0 15px; text-decoration: none; }
.dropdown__sublist li a:hover { text-decoration: underline; }
.dropdown__sublist li a:before { display: none; }

.dropdown_green { color: #9cc74d; border: 1px solid #aacc5c; }
.dropdown_green .dropdown__btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: white; }
.dropdown_green .dropdown__btn:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2161px no-repeat; width: 11px; height: 5px; }
.dropdown_green .dropdown__list { background: #aacc5c; }
.dropdown_green .dropdown__list .dropdown__item { background: white; }
.dropdown_green .dropdown__list .dropdown__item a:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2022px no-repeat; width: 11px; height: 11px; }
.dropdown_green .dropdown__list .dropdown__item a:hover { background: #aacc5c; color: white; }
.dropdown_green .dropdown__list .dropdown__item a:hover:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2248px no-repeat; width: 11px; height: 11px; }
.dropdown_green .dropdown__list .dropdown__item:hover a { background: #aacc5c; color: white; }
.dropdown_green .dropdown__list .dropdown__item:hover a:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2248px no-repeat; width: 11px; height: 11px; }
.dropdown_green .dropdown__list .dropdown__item:hover .dropdown__sublist { display: block; }
.dropdown_green .dropdown__sublist a { color: white; }

.dropdown_plants, .dropdown_goods, .dropdown_serv { color: #9cc74d; }
.dropdown_plants .dropdown__btn, .dropdown_goods .dropdown__btn, .dropdown_serv .dropdown__btn { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; text-align: center; background: white; padding: 7px 10px 7px 38px; border: 1px solid #d9e8b5; }
.dropdown_plants .dropdown__btn:before, .dropdown_goods .dropdown__btn:before, .dropdown_serv .dropdown__btn:before { background: url('../img/icons-s29e8bbea6c.png') 0 -1213px no-repeat; width: 17px; height: 22px; left: 15px; margin-top: -12px; }
.dropdown_plants .dropdown__btn:after, .dropdown_goods .dropdown__btn:after, .dropdown_serv .dropdown__btn:after { content: ""; position: absolute; background: url('../img/icons-s29e8bbea6c.png') 0 -1745px no-repeat; width: 13px; height: 7px; bottom: -7px; left: 50%; margin-left: -6px; z-index: 99; }
.dropdown_plants .dropdown__list, .dropdown_goods .dropdown__list, .dropdown_serv .dropdown__list { background: #aacc5c; }
.dropdown_plants .dropdown__list .dropdown__item a:before, .dropdown_goods .dropdown__list .dropdown__item a:before, .dropdown_serv .dropdown__list .dropdown__item a:before { top: 13px; background: url('../img/icons-s29e8bbea6c.png') 0 -2144px no-repeat; width: 4px; height: 7px; }
.dropdown_plants .dropdown__list .dropdown__item a:hover, .dropdown_goods .dropdown__list .dropdown__item a:hover, .dropdown_serv .dropdown__list .dropdown__item a:hover { background: #aacc5c; color: white; }
.dropdown_plants .dropdown__list .dropdown__item a:hover:before, .dropdown_goods .dropdown__list .dropdown__item a:hover:before, .dropdown_serv .dropdown__list .dropdown__item a:hover:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2464px no-repeat; width: 4px; height: 7px; }
.dropdown_plants .dropdown__list .dropdown__item:hover a, .dropdown_goods .dropdown__list .dropdown__item:hover a, .dropdown_serv .dropdown__list .dropdown__item:hover a { background: #aacc5c; color: white; }
.dropdown_plants .dropdown__list .dropdown__item:hover a:before, .dropdown_goods .dropdown__list .dropdown__item:hover a:before, .dropdown_serv .dropdown__list .dropdown__item:hover a:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2464px no-repeat; width: 4px; height: 7px; }
.dropdown_plants .dropdown__list .dropdown__item:hover .dropdown__sublist, .dropdown_goods .dropdown__list .dropdown__item:hover .dropdown__sublist, .dropdown_serv .dropdown__list .dropdown__item:hover .dropdown__sublist { display: block; }
.dropdown_plants .dropdown__sublist a, .dropdown_goods .dropdown__sublist a, .dropdown_serv .dropdown__sublist a { color: white; }

.dropdown_goods { color: #ff9600; }
.dropdown_goods .dropdown__btn { border: 1px solid #fbdbac; }
.dropdown_goods .dropdown__btn:before { background: url('../img/icons-s29e8bbea6c.png') 0 -1127px no-repeat; width: 27px; height: 15px; margin-top: -7px; }
.dropdown_goods .dropdown__btn:after { background: url('../img/icons-s29e8bbea6c.png') 0 -1686px no-repeat; width: 13px; height: 7px; }
.dropdown_goods .dropdown__list .dropdown__item a:hover { background: #ff9600; }
.dropdown_goods .dropdown__list .dropdown__item .dropdown__sublist { background: #ff9600; }
.dropdown_goods .dropdown__list .dropdown__item:hover a { background: #ff9600; }

.dropdown_serv { color: #ff6757; }
.dropdown_serv .dropdown__btn { border: 1px solid #ffc2bc; }
.dropdown_serv .dropdown__btn:before { background: url('../img/icons-s29e8bbea6c.png') 0 -1356px no-repeat; width: 20px; height: 19px; }
.dropdown_serv .dropdown__btn:after { background: url('../img/icons-s29e8bbea6c.png') 0 -1703px no-repeat; width: 13px; height: 7px; }
.dropdown_serv .dropdown__list .dropdown__item a:hover { background: #ff6757; }
.dropdown_serv .dropdown__list .dropdown__item .dropdown__sublist { background: #ff6757; }
.dropdown_serv .dropdown__list .dropdown__item:hover a { background: #ff6757; }

.viewed { margin-bottom: 20px; }

.viewed__title { text-align: center; font-size: 18px; margin-bottom: 15px; }

.viewed__item { *zoom: 1; padding: 8px 0; border-bottom: 1px dashed #cfcfcf; }
.viewed__item:after { content: " "; display: table; clear: both; }

.viewed__img { float: left; width: 55px; height: 55px; margin-right: 13px; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; overflow: hidden; }
.viewed__img img { width: 100%; height: 100%; }

.viewed__content { overflow: hidden; }
.viewed__content a { color: #636363; text-decoration: none; line-height: 1.2; }
.viewed__content a:hover { text-decoration: underline; }

.viewed__price { font-size: 18px; color: #ff9600; }

.gallery { position: relative; float: left; width: 300px; margin-right: 13px; }

.gallery__main { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #ededed; margin-bottom: 6px; }

.gallery__prev { position: absolute; bottom: 22px; left: 0; background: url('../img/icons-s29e8bbea6c.png') 0 -2342px no-repeat; width: 7px; height: 13px; cursor: pointer; }

.gallery__next { position: absolute; bottom: 22px; right: 0; background: url('../img/icons-s29e8bbea6c.png') 0 -2365px no-repeat; width: 7px; height: 13px; cursor: pointer; }

.gallery__item { padding: 32px 7px; }

.gallery__nav { padding: 0 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 268px !important; height: 62px; margin: 0 auto; }
.gallery__nav div { width: 60px; height: 60px; margin-right: 7px; padding: 10px 4px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; border: 1px solid #ededed; }
.gallery__nav div img { cursor: pointer; }

.order-wrap { float: left; width: 218px; }
.order-wrap .list { padding: 0 11px; }
.order-wrap .list li { margin-bottom: 5px; }

.order { -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; background: #f9f9f9; padding: 15px 0 10px; border-bottom: 1px dashed #ededed; margin-bottom: 14px; }

.order__price { text-align: center; font-size: 24px; color: #93c336; font-weight: bold; }

.order__buy { *zoom: 1; padding: 7px; background: #ededed; border-bottom: 1px dashed #ededed; border-top: 1px dashed #ededed; }
.order__buy:after { content: " "; display: table; clear: both; }
.order__buy .buy { float: right; font-size: 18px; height: 42px; line-height: 42px; padding: 0 16px 0 56px; }
.order__buy .buy span:before { background: url('../img/icons-s29e8bbea6c.png') 0 -1152px no-repeat; width: 26px; height: 25px; margin: -13px 0 0 -5px; }

.order__number { position: relative; float: left; width: 57px; height: 42px; background: white; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 2px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #636363; font-size: 16px; }

.order__more { position: absolute; top: 2px; left: 2px; width: 17px; height: 18px; line-height: 18px; background: #ededed; text-align: center; -webkit-border-radius: 5px 0 0 0; -moz-border-radius: 5px 0 0 0; -ms-border-radius: 5px 0 0 0; -o-border-radius: 5px 0 0 0; border-radius: 5px 0 0 0; cursor: pointer; }

.order__less { position: absolute; bottom: 2px; left: 2px; width: 17px; height: 18px; line-height: 14px; background: #ededed; text-align: center; -webkit-border-radius: 0 0 0 5px; -moz-border-radius: 0 0 0 5px; -ms-border-radius: 0 0 0 5px; -o-border-radius: 0 0 0 5px; border-radius: 0 0 0 5px; cursor: pointer; }

.order__count { padding-left: 17px; text-align: center; line-height: 38px; }

.order__phone { position: relative; padding-top: 6px; padding-left: 42px; font-size: 15px; color: #838383; }
.order__phone:before { content: ""; position: absolute; top: 9px; left: 16px; background: url('../img/icons-s29e8bbea6c.png') 0 -1442px no-repeat; width: 15px; height: 15px; }
.order__phone .hide { position: absolute; top: 7px; right: 32px; background: #f9f9f9; }

.hide { font-size: 15px; color: #838383; line-height: 1; border-bottom: 1px dotted; cursor: pointer; }

.sidebar__map { margin-bottom: 17px; }

.sidebar__socials { margin-bottom: 17px; }
.sidebar__socials ul { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.sidebar__socials ul:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }
.sidebar__socials ul li { display: inline-block; line-height: normal; vertical-align: top; font-size: 14px; width: 38px; height: 38px; }
.sidebar__socials ul li a { display: inline-block; }
.sidebar__socials ul li a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80); opacity: 0.8; }

.f-ico { background: url('../img/icons-s29e8bbea6c.png') 0 -980px no-repeat; width: 38px; height: 38px; }

.vk-ico { background: url('../img/icons-s29e8bbea6c.png') 0 -759px no-repeat; width: 38px; height: 38px; }

.yt-ico { background: url('../img/icons-s29e8bbea6c.png') 0 -547px no-repeat; width: 38px; height: 38px; }

.tw-ico { background: url('../img/icons-s29e8bbea6c.png') 0 -595px no-repeat; width: 38px; height: 38px; }

.gp-ico { background: url('../img/icons-s29e8bbea6c.png') 0 -499px no-repeat; width: 38px; height: 38px; }

.article { padding: 17px 0; }
.article .h4 { margin-bottom: 17px; }
.article p { margin-bottom: 17px; }

.overlay { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(1, 1, 1, 0.7); z-index: 999; }

.popup { position: fixed; top: 200px; left: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px; background: rgba(255, 255, 255, 0.2); -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; z-index: 1000; }

.popup_map { width: 1000px; margin-left: -500px; }

.popup__title { position: relative; color: #636363; font-size: 18px; height: 30px; line-height: 30px; text-align: center; background: #ededed; -webkit-border-radius: 5px 5px 0 0; -moz-border-radius: 5px 5px 0 0; -ms-border-radius: 5px 5px 0 0; -o-border-radius: 5px 5px 0 0; border-radius: 5px 5px 0 0; -webkit-box-shadow: 0 2px 3px rgba(1, 1, 1, 0.1), inset 0 -2px 0 #d7d7d7; -moz-box-shadow: 0 2px 3px rgba(1, 1, 1, 0.1), inset 0 -2px 0 #d7d7d7; box-shadow: 0 2px 3px rgba(1, 1, 1, 0.1), inset 0 -2px 0 #d7d7d7; }

.popup__close { position: absolute; top: 8px; right: 10px; background: url('../img/icons-s29e8bbea6c.png') 0 -1857px no-repeat; width: 12px; height: 13px; cursor: pointer; }

.popup__map { height: 535px; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; -ms-border-radius: 0 0 5px 5px; -o-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; overflow: hidden; }

.addcom-wrap { text-align: center; margin-bottom: 25px; }

.addcomm { position: relative; display: inline-block; height: 35px; line-height: 35px; font-size: 15px; color: white; padding: 0 14px 0 35px; background: #aacc5c; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; text-decoration: none; font-weight: bold; -webkit-transition: background 0.15s linear; -moz-transition: background 0.15s linear; -o-transition: background 0.15s linear; transition: background 0.15s linear; }
.addcomm:before { content: ""; position: absolute; top: 10px; left: 10px; background: url('../img/icons-s29e8bbea6c.png') 0 -1787px no-repeat; width: 14px; height: 14px; }
.addcomm:hover { background: #99b853; }

.comments__item { border-top: 1px dashed #cfcfcf; padding: 15px 0; }

.comments__top { *zoom: 1; margin-bottom: 5px; }
.comments__top:after { content: " "; display: table; clear: both; }

.comments__avatar { float: left; width: 50px; height: 50px; margin-right: 13px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #f9f9f9; overflow: hidden; }
.comments__avatar img { width: 100%; height: 100%; }

.comments__info { overflow: hidden; }

.comments__name { margin-bottom: 5px; font-weight: bold; }

.comments__date { position: relative; padding-left: 23px; margin-bottom: 5px; }
.comments__date:before { content: ""; position: absolute; top: 0px; left: 0px; background: url('../img/icons-s29e8bbea6c.png') 0 -1493px no-repeat; width: 17px; height: 17px; }

.comments__rating span { display: inline-block; vertical-align: middle; color: #dddddd; }

.rating { display: inline-block; vertical-align: middle; font-size: 0; margin-right: 7px; }
.rating li { display: inline-block; vertical-align: middle; }

.rating__img { display: inline-block; background: url('../img/icons-s29e8bbea6c.png') 0 -1520px no-repeat; width: 18px; height: 16px; }
.rating__img.is-active { background: url('../img/icons-s29e8bbea6c.png') 0 -1187px no-repeat; width: 18px; height: 16px; }

.rating_good .rating__img.is-active { background: url('../img/icons-s29e8bbea6c.png') 0 -1187px no-repeat; width: 18px; height: 16px; }

.rating_norm .rating__img.is-active { background: url('../img/icons-s29e8bbea6c.png') 0 -1606px no-repeat; width: 18px; height: 16px; }

.rating_bad .rating__img.is-active { background: url('../img/icons-s29e8bbea6c.png') 0 -1467px no-repeat; width: 18px; height: 16px; }

.comments__content { margin-bottom: 5px; }

.comments__answer { *zoom: 1; }
.comments__answer:after { content: " "; display: table; clear: both; }

.comments__btn { position: relative; float: left; width: 128px; height: 23px; line-height: 23px; text-align: center; border: 1px solid #ededed; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: white; -webkit-transition: background 0.15s linear; -moz-transition: background 0.15s linear; -o-transition: background 0.15s linear; transition: background 0.15s linear; cursor: pointer; }
.comments__btn:hover { background: #ededed; }
.comments__btn:before { content: ""; position: absolute; top: 6px; left: 3px; background: url('../img/icons-s29e8bbea6c.png') 0 -1959px no-repeat; width: 11px; height: 11px; }
.comments__btn.is-open:before { background: url('../img/icons-s29e8bbea6c.png') 0 -2089px no-repeat; width: 11px; height: 11px; }

.comments__text { float: right; width: 615px; margin-left: -5px; padding: 6px 12px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; background: #ededed; }
