// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	min-width: 1000px
	font-size: 13px
	font-family: Arial, Calibri, sans-serif
	color: #636363
	line-height: 1.4
.out
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -353px
.out_main
	margin: 0 auto -676px
.out_small
	margin: 0 auto -85px	  	
.push
	height: 353px
.push_main
	height: 676px
.push_small
	height: 85px	 		 		
=justify
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden
=justify-child
	display: inline-block
	line-height: normal
	vertical-align: top
	font-size: 14px

// common blocks

.clr
	+clr
.container
	position: relative
	width: 1000px
	margin: 0 auto
.buy
	display: inline-block
	position: relative
	width: 74px
	height: 36px
	line-height: 36px 
	padding: 0 20px 0 70px  
	font-size: 20px
	font-weight: bold
	color: #ff9600
	text-decoration: none
	background: #fff
	+border-radius(5px)
	span
		position: absolute
		top: 0
		left: 0
		bottom: 0
		width: 52px
		+border-radius(5px 0 0 5px)
		background: #ff9600
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -13px 0 0 -13px 
			+s(basket-white)
		&:after
			content: ""
			position: absolute
			top: 6px
			bottom: 6px
			right: -1px
			width: 0
			border-right: 1px dotted #fff  	
	&:hover
		background: #ff9600
		color: #fff 		
.title
	font-size: 22px
	color: #7b7b7b
	text-align: center
	margin-bottom: 10px
.divide
	width: 100% 
	height: 0px
	border-bottom: 1px dashed #b8b8b8
.divide_white
	border-bottom: 1px dotted #fff
	
// input

.input
	position: relative
	margin-bottom: 16px
	input
		width: 100%
		padding: 0 12px 0 50px
		height: 31px
		border: 1px solid #dfdfdf
		background: #dfdfdf
		+box
		+border-radius(5px)
		+placeholder-color(#7b7b7b)
	span
		position: absolute
		top: 1px
		left: 1px
		bottom: 1px
		+border-radius(5px 0 0 5px)
		background: #7b7b7b
		width: 38px  
.input_contant	
	span
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -10px 0 0 -10px 
			+s(contact-input)
.input_phone	
	span
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -10px 0 0 -10px 
			+s(phone)
.input_mail	
	span
		&:before
			content: ""
			position: absolute
			top: 50%
			left: 50%
			margin: -10px 0 0 -10px 
			+s(mail)

// submit

.submit
	display: inline-block
	height: 35px
	line-height: 35px
	padding: 0 19px 
	border: 1px solid #fff
	+border-radius(5px)
	font-size: 15px
	color: #fff
	background: transparent
	
// up btn	    						
.up
	position: absolute
	top: -16px
	left: 50%
	margin-left: -30px
	width: 60px
	height: 16px
	background: #fff
	text-align: center
	font-size: 11px
	color: #7b7b7b
	z-index: 2
	cursor: pointer
	i
		position: absolute
		top: 0px
		left: 50%
		margin-left: -9px
		+s(arr-top)
	span
		position: relative
		top: 8px 	  
	&:before
		content: ""
		position: absolute
		top: 100%
		left: 0
		+arr(60, 19, #fff, b)
.up_grey
	bottom: 0
	top: auto
	background: #7b7b7b
	color: #fff
	i
		+s(arr-top-white)
	&:before
		+arr(60, 19, #7b7b7b, b)

// checkbox

.checkbox
	position: relative
	display: block
	input
		+opacity(0)
	span
		position: relative
		display: inline-block
		margin-left: 4px 
		+nosel
		color: #838383
		&:before
			content: ""
			position: absolute
			top: 4px
			left: -19px
			width: 10px
			height: 10px
			border: 1px solid #cfcfcf
			background: #fff 
			+border-radius(2px)
	input:checked + span
		&:after
			content: ""
			position: absolute
			top: 6px
			left: -17px
			+s(checkbox)
.checkbox_green
	input:checked + span
		&:after
			+s(checkbox-green)			

// breadcrumbs
.breadcrumbs
	margin-bottom: 17px
	ul
		+clr
		li
			position: relative
			float: left
			margin-right: 26px
			&:after
				content: "/"
				position: absolute
				top: 0px
				left: -15px
				color: #89be18
			&:first-child
				padding-left: 23px
				&:before
					content: ""
					position: absolute
					top: 0px
					left: 0px
					+s(home)
				&:after
					content: ""	 
		a
			font-size: 13px
			color: #89be18
			text-decoration: none
			&:hover
				border-bottom: 1px dotted
.advert
	clear: both
	height: 88px
	margin-bottom: 17px
	border: 1px solid #ededed
	+border-radius(5px)
.h2, .h3, .h4
	font-size: 23px
	color: #717171
	font-weight: normal
	margin-bottom: 18px
	p
		font-size: 12px
.h2		
	i
		font-style: normal
		font-size: 19px
		color: #aeaeae 	
.h3
	font-size: 22px
.h4
	font-size: 18px			 
.link
	display: inline-block
	padding: 0 12px
	height: 30px
	line-height: 30px
	margin-bottom: 19px
	+border-radius(5px)
	background: #ededed
	text-decoration: none
	color: #636363
	+transition(background 0.15s linear)
	span
		color: #b2b2b2
	&:hover
		background: #d4d4d4 	
			
// pagination

.pagination
	+clr
	margin: 56px 0 65px 
.pagination__left
	float: left
	ul
		+border-radius(5px)
		overflow: hidden
		li
			float: left
			width: 36px 
			margin-left: 1px
			background: #ededed 
			&:first-child
				margin-left: 0 
			a
				display: block
				position: relative
				text-align: center
				height: 37px
				line-height: 37px
				text-decoration: none
				color: #636363
				&:hover
					background: #d4d4d4
			&.is-empty
				background: transparent
				a
					cursor: default
					&:hover
						background: transparent
			&.next
				width: auto
				a
					padding: 0 28px 0 14px
					&:before
						content: ""
						position: absolute
						top: 12px
						right: 13px
						+s(arr-right)
			&.is-active
				background: #d4d4d4
.pagination__right
	float: right
.pagination_short
	text-align: center
	.pagination__left
		float: none
		display: inline-block

// tabs

.tab-wrap
	padding-top: 26px
	margin-bottom: 34px
.tab
	+clr
	border-bottom: 1px solid #ededed
.tab__item 
	float: left
	height: 33px
	padding: 0 25px 
	line-height: 33px
	+box
	border: 1px solid #ededed
	border-bottom: none
	border-left: none
	&:first-child
		+border-radius(5px 0 0 0)
		border-left: 1px solid #ededed
	&.tab__item_last
		+border-radius(0 5px 0 0)
	&.is-active
		background: #ededed
	&:hover
		background: #e4e4e4		
	a
		text-decoration: none
		font-size: 13px
		color: #636363
		font-weight: bold
		span
			color: #a3a3a3
			font-weight: normal
.tab-cont
	padding-top: 21px
	p
		margin-bottom: 20px
.textarea
	width: 100%
	max-width: 100%
	height: 123px
	max-height: 123px
	margin-bottom: 14px  
	+border-radius(5px)
	+box
	padding: 10px 
	border: 1px solid #e5e5e5							 
	font-size: 13px
	font-family: Arial, Calibri, sans-serif
	color: #636363
	line-height: 1.4
.textarea_small
	height: 60px 

// tools
.tools
	+border-radius(4px)
	overflow: hidden
	background: #f9f9f9
	margin-bottom: 20px 
.tools__title
	line-height: 35px
	color: #636363
	font-size: 18px
	text-align: center
	background: #ededed
.tools__content 
	padding: 10px 14px 15px
.tools__item
	border-top: 1px dashed #cfcfcf
	padding-top: 14px
	padding-bottom: 5px
	&:first-child
		border-top: none
		padding-top: 0
	.checkbox
		font-size: 13px
		margin-bottom: 4px
		input:checked + span
			&:after
				+s(checkbox-green)
		span
			color: #636363		
.tools__name
	color: #636363
	font-weight: bold
	margin-bottom: 5px
.spinner-amount
	margin-bottom: 20px
	label, span, input
		display: inline-block
		vertical-align: middle
		input
			border: 1px solid #ededed
			+border-radius(4px)
			+box
			width: 71px
			height: 25px
			text-align: center
			color: #b0b0b0
			font-size: 14px  
.spinner
	margin: 10px 4px 20px 
.ui-slider 
	position: relative
	text-align: left
	height: 9px
	background: #aacc5c
.ui-slider-handle
	position: absolute
	top: -4px  
	width: 9px
	height: 9px
	margin-left: -8px
	+border-radius(50%)
	border: 4px solid #85a048
	background: #aacc5c 
	&:hover
		border: 4px solid #77923a	
.tools__amount
	.checkbox
		display: inline-block
		vertical-align: middle
		padding-right: 22px
		margin-left: 23px
		i
			position: absolute
			top: 1px
			right: 0px
			+s(hint)
			cursor: pointer
		&:first-child
			margin-left: 0
.tools__size
	.checkbox
		display: inline-block
		vertical-align: top
		width: 49%
.tools__submit 
	text-align: center
	button
		height: 39px
		padding: 0 17px
		+border-radius(4px)  
		background: #aacc5c
		color: #fff
		font-size: 15px
		+transition(background 200ms linear)
		&:hover
			background: darken(#aacc5c, 5%)
.btn
	position: relative
	display: inline-block
	padding: 0 11px
	height: 38px
	line-height: 38px
	font-size: 15px
	text-decoration: none
	color: #fff 
	+border-radius(5px)
	background: #a9cb5c
	+box-shadow(inset 0 -2px 0 rgba(0,0,0,.06))
	&:hover
		background: #9fbf56 
	&:active
		top: 1px
		background-color: #95b351
		+box-shadow(inset 0 2px 0 rgba(0,0,0,.19))

// select
.select
	position: relative
.select__text
	position: relative
	padding: 0 33px 0 12px 
	+border-radius(5px)
	+box
	height: 29px
	line-height: 29px
	+text-overflow
	width: 237px 
	border: 1px solid #e3e3e3
	background: #fff
	cursor: pointer
	z-index: 1
	&:before
		content: ""
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 21px
		background: #e3e3e3
	&:after
		content: "" 
		position: absolute
		top: 10px
		right: 5px
		+s(arr-down-grey)
.select__dropdown
	position: absolute
	top: 25px
	left: 0
	right: 0
	border: 1px solid #e3e3e3
	padding-top: 4px
	background: #fff
	+border-radius(0 0 5px 5px)
	overflow: hidden
	z-index: 2
	li
		a
			display: block
			height: 22px
			line-height: 22px 
			padding: 0 12px
			text-decoration: none
			color: #636363
			&:hover
				background: #aacc5c
				color: #fff
		&.edit-list
			text-align: center
			a
				background: #e3e3e3
				&:hover
					background: #d4d4d4 		
.booking__message
	+clr
	clear: both
	span
		float: left
		width: 108px
		text-align: right
		font-weight: bold
	p
		overflow: hidden
		padding-left: 14px
		color: #999 				  
			

		  


				 			
				
				 

										  