//sidebar menu
.dropdown_plants
	&.rose
		margin-bottom: 60px
		border-bottom: 1px solid #cfcfcf 
		.dropdown__btn
			&.rose		 
				padding: 15px 20px 15px 26px  
		.dropdown__list
			&.rose
				background: #f9f9f9
				.dropdown__item 
					&:hover
						a
							background: #f9f9f9
							color: #636363 
							&:before	
								+s(list-green)
						.is-active
							background: #aacc5c
							color: #fff	
							&:before
								position: absolute
								content: ""
								+s(list-white)	 
					a
						&:hover
							background: #f9f9f9
							color: #8db432 
							text-decoration: none 
							&:before	
								+s(list)	
					.is-active
						background: #aacc5c
						color: #fff	
						&:before
							position: absolute
							content: "" 
							+s(list-white)										
		.rose__sublist
			li
				
				&:last-child
					border-bottom: none 
				a	
					padding: 0 15px 0 60px 			
					color: #636363				
					&:before
						+s(list-green)
						content: ""
						position: absolute  
						top: 13px
						left: 45px	
					
//ratings
.h2
	&.rate
		margin-bottom: 10px
		
.comments__rating
	a
		color: #9D9D9D
		text-decoration: none 
		border-bottom: 1px dotted #9D9D9D
		font-size: 14px    		
.rating
	vertical-align: baseline

.rating__img
	+rotate(270)
	margin-bottom: 15px 	
	
//order block
.order__price
	font-size: 19px 
	padding: 0 8px 15px 
	.grey
		color: #A7A7A7
		font-size: 17px 
		font-weight: normal 
		text-align: left 
	a
		color: #838383  
		font-size: 13px
		font-weight: normal 
		text-decoration: none 
		border-bottom: 1px dotted #838383   					

//details block
.details li
	padding-left: 18px
	 
.details__phone
	.hide
		right: 9px
	&:before
		left: -4px
		
.details__map
	&:before
		left: -4px
		
.details__comment
	&:before
		left: -4px
		
.details__message
	&:before
		content: ""
		position: absolute
		top: 2px 
		left: -4px
		+s(maildark)

//tabs
.tab-wrap
	margin-bottom: 50px 		
	
//priceload popup
.priceload__popup
	width: 425px
	height: 245px  	
	background: #f9f9f9
	position: fixed
	top: 50%
	left: 50%
	margin: -212.5px 0 0 -122.5px
	border: 1px solid #E4E4E4
	border-radius: 4px
	text-align: center 
	z-index: 1000
	button
		background: #AACC5C
		color: #fff  
		border-radius: 4px
		font-weight: bold
		text-transform: uppercase   
		font-size: 16px
		padding: 10px 25px  
		&:active
			background: darken(#AACC5C, 15%)
	.popup__close
		+s(price-close)
		content: ""
	.priceload__content
		margin: 75px 55px 30px 
		font-size: 17px
		text-align: left 
			
//for page article
.content
	&.left
		float: left

.sidebar
	&.right
		float: right
		margin: 0 0 0 20px
		
.dropdown
	&.articles
		margin-bottom: 30px
		.dropdown__btn 
			padding: 0 
			position: relative
			text-align: center 
			background: #F9F9F9
			border: 1px solid #d8d8d8 
			&:before
				display: none 
			&:after
				content: ""
				position: absolute
				left: 50%
				z-index: 1
				margin-left: -6.5px 
				+arr(13, 7, #d8d8d8, b)
			p
				font-size: 16px
				color: #636363  	
				padding: 15px 93px 10px 
		.dropdown__list
			border: 1px solid #f4f4f4		
		.dropdown__item
			background: #FFF 	
			a
				color: #838383  
				&:before
					display: none 
				&:hover
					background: #fff
					color: #0096df	
			.is-active
				background: #f9f9f9 
				&:hover
					background: #f9f9f9 
					color: #636363 	

.mailing
	background: #EDECEC   
	margin-bottom: 35px 
	border: 1px solid #d8d8d8
	border-radius: 4px
	text-align: center 
	p
		color: #636363
		font-size: 16px
		padding: 15px 0 10px 0
	input
		width: 210px
		height: 30px 
		padding-left: 7px
		border: 1px solid #e1e1e1  
		+box
	button
		width: 109px
		height: 28px 
		margin: 10px 0   	
		background: #46addf
		text-transform: uppercase
		color: #FFF
		font-size: 12px 
		border-radius: 4px

.paper
	margin-bottom: 30px 
		
.paper__date
	background: url(../img/icons/dash.png) bottom repeat-x 
	span
		display: inline-block
		padding: 5px 10px			   
		color: #636363
		background: #F2F2F2
		
.paper__title
	color: #027cb8
	font-size: 26px
	font-weight: normal 
	margin-top: 20px   		
			
.paper__content
	+clr
	margin: 25px 0  
	img
		float: left
		margin-right: 20px
		max-width: 260px
		max-height: 200px
	p
		color: #838383
		font-size: 16px	
		
.paper__text	
	overflow: hidden 

.readmoar
	width: 122px
	height: 33px
	position: relative
	padding: 0 8px
	margin-top: 15px
	float: right
	border-radius: 4px
	font-size: 15px
	background: #5db218
	color: #FFF	
	text-align: left 
	&:active
		background: darken(#5db218, 10%) 
	i
		content: ""
		position: absolute
		top: 14.5px
		right: 6px 
		+s(readmoar)      	 			

.paper__tags
	+clr
	background: #F8F8F8 url(../img/icons/dash.png) bottom repeat-x
	padding: 10px
	
.tags__left
	float: left
	width: 68.919%

.tags__right
	float: right
	width: 31.081% 
	text-align: right 
	img
		float: right
		margin-left: 10px 
		
//pagination for article
.pagination
	&.forpaper
		margin: 40px 0 85px
		.pagination__left
			float: none
			ul
				border-radius: 0
				display: table
				margin: 0 auto  
		.next
			a
				padding: 0 
				&:before
					content: ""
					position: absolute
					top: 13px
					right: 8px
					+s(forward)
		.prev
			a
				&:before
					content: ""
					position: absolute
					top: 13px
					left: 8px	
					+s(forward)
					+rotate(180)					

//for page readmore
.scl
	margin-top: 15px

.paper__datename
	height: 80px
	background: #F8F8F8	
	border: 1px dashed #e4e4e4
	margin-top: 15px 

.datename__content	
	margin: 20px 0 0 20px
	color: #636363 
	img
		float: left
		margin-right: 10px 
	p
		padding-top: 3px	
	span
		color: #838383 	
		display: block 

.paper__p
	margin-bottom: 12px 

.paper__h2, .paper__h3, .paper__h4
	font-weight: normal 
	
.paper__h2
	font-size: 24px
	color: #00AAFD
	
.paper__h3
	font-size: 21px
	color: #333   	
	
.paper__h4
	font-size: 19px
	color: #434343  
	
.paper__list
	list-style-type: disc
	color: #838383
	font-size: 16px 
	padding: 15px 0 0 30px

// widgets block	
.widgets
	+clr
	margin: 25px 0 
	li
		float: left
	a
		display: inline-block
		position: relative
		width: 45px
		height: 30px
		margin-right: 5px   
		&:before
			content: ""
			position: absolute 	
.w-vk
	&:before
		
		+s(w-vk)
.w-od
	&:before
		+s(w-od)
.w-fb
	&:before
		+s(w-fb)
.w-tw
	&:before
		+s(w-tw)
.w-mr
	&:before
		+s(w-mr)
.w-m
	&:before	
		+s(w-m)	
.w-gp
	&:before	
		+s(w-gp)
.w-pr
	&:before	
		+s(w-pr)					
.w-add
	&:before	
		+s(w-add)		 	

//buyelse block
.buyelse
	+clr
	margin-bottom: 55px
	border: 1px solid #d5d5d5 
	padding: 10px  
	
.buyelse__bl	
	float: left
	margin-right: 10px 
	&.last
		margin-right: 0
	&:hover
		cursor: pointer
		.buyelse__but
			display: block
		.buyelse__price
			background: none 	 
	img
		width: 172px
		height: 172px
		border: 1px solid #e1e1e1
		+box  
		
.buyelse__inner
	position: relative
	height: 172px 
	
.buyelse__but	
	width: 100%
	height: 100%
	top: 0
	position: absolute
	text-align: center
	background: #fff 
	background: rgba(255,255,255, 0.7)
	display: none 
	span
		color: #535353
		font-size: 20px 
		font-weight: bold 
		padding-top: 15% 
		display: inline-block
	
.buyelse__price
	color: #F88C01
	font-size: 18px
	font-weight: bold  
	text-align: center
	width: 100%
	height: 70px  	
	position: absolute 
	background: rgba(255,255,255, 0.7)
	bottom: 0
	p
		padding-top: 5px  
	button
		width: 105px
		height: 30px
		position: relative  
		background: #FE950E
		border-radius: 5px
		padding-left: 22px 
		color: #fff
		font: 17px Arial, sans-serif
		font-weight: bold 
		&:active
			background: darken(#FE950E, 10%) 
		&:before
			position: absolute
			content: ""
			top: 7px
			left: 7px
			+s(basket-white-small)   			

.else__title
	color: #636363
	font-weight: normal
	font-size: 22px   
	
.else__bl
	float: left
	display: block
	width: 230px
	min-height: 195px
	font-size: 17px
	color: #636363
	margin-right: 10px
	text-decoration: none
	line-height: 1.2
	border: 1px solid #e1e1e1 
	&:hover
		color: #0096df 
	img
		max-width: 230px
	&.last
		margin-right: 0 
	p		
		padding: 10px 	
			
.disqus
	margin-bottom: 70px 			