// styles for inner pages

.main
	+clr

.sidebar
	width: 240px
	float: left
	margin-right: 20px
	.contacts
		margin-bottom: 17px
.sidebar__banner
	margin-bottom: 17px	  
.catlist
	padding-left: 22px
	margin-bottom: 30px
	li
		position: relative
		margin-bottom: 10px
		color: #c5c5c5
		&:before
			content: ""
			position: absolute
			top: 3px
			left: -19px
			+s(catlist) 
		a
			font-size: 13px
			color: #636363
			text-decoration: none
			&:hover
				text-decoration: underline
				color: #89be18
.content
	float: right
	width: 740px

.filters-wrap
	border: 1px solid #e0e0e0
	+border-radius(5px)
	overflow: hidden
	margin-bottom: 20px	
.filters
	display: table
	width: 100%
	border-collapse: collapse
	li
		display: table-cell
		text-align: center
		border-left: 1px solid #e0e0e0
		&:first-child
			border-left: none 	  
		a
			display: block
			padding: 0 10px 
			height: 31px
			line-height: 31px
			text-align: center 
			font-size: 13px
			color: #838383
			text-decoration: none				
			&.is-active
				background: #ededed
			span, i
				display: inline-block
				vertical-align: middle
			i
				margin-right: 10px	 		
.marker-icon
	+s(marker)
.plants-icon
	+s(plants-small)
.goods-icon
	+s(goods-small)
.serv-icon
	+s(serv-small)

// sheet
.sheet__item
	border-bottom: 1px dashed #cfcfcf
	margin-bottom: 19px 			
.sheet__title
	font-size: 20px
	color: #89be18
	margin-bottom: 10px	
.sheet__content
	+clr
.sheet__descr
	float: left
	width: 470px
	p
		margin-bottom: 18px
.details
	position: relative
	float: right
	width: 181px
	padding: 18px 13px
	+box 
	border: 1px solid #e0e0e0
	+border-radius(5px)
	li
		position: relative
		padding-left: 25px
		margin-bottom: 13px 
		span
			color: #838383
		a
			color: #838383
			text-decoration: none
			border-bottom: 1px dotted
			&:hover
				color: #aacc5c	
.details__phone
	&:before
		content: ""
		position: absolute
		top: 2px
		left: 0px	 		
		+s(phone2)
	.hide
		position: absolute
		top: 1px
		right: 5px
		font-size: 13px
		background: #fff  	
.details__map
	&:before
		content: ""
		position: absolute
		top: 2px 
		left: 0px
		+s(marker)
.details__comment
	&:before
		content: ""
		position: absolute
		top: 2px 
		left: 0px
		+s(comment)
.details__status
	position: absolute
	top: -10px
	right: -6px
	height: 19px
	line-height: 19px
	padding: 0 5px 0 9px
	+border-radius(8px 0 0 8px) 
	text-transform: uppercase
	color: #fff
	text-align: center
.details__status_gold
	background: #feac0d
	&:before
		content: ""
		position: absolute
		top: 100%
		right: 0px
		+s(gold)
.details__status_platinum
	background: #fa5662
	&:before
		content: ""
		position: absolute
		top: 100%
		right: 0px
		+s(platinum)
.details__status_silver
	background: #878787
	&:before
		content: ""
		position: absolute
		top: 100%
		right: 0px
		+s(silver)

// sidebar logo
.sidebar__logo
	height: 238px
	margin-bottom: 20px
	font-size: 0
	line-height: 238px
	border: 1px solid #ededed
	+border-radius(5px)
	text-align: center
	img
		display: inline-block
		vertical-align: middle
		max-width: 100%
		max-height: 100%
		
// sidebar links
.sidebar__links
	background: #aacc5c
	+border-radius(5px)
	margin-bottom: 22px
	overflow: hidden
	ul
		li
			position: relative
			border-top: 1px dashed #fff
			&:first-child
				border-top: none 
			&:before
				content: ""
				position: absolute
				top: 12px
				left: 12px
				+s(sidebar-list)
		a
			display: block
			height: 37px
			line-height: 37px
			padding-left: 37px 
			font-size: 14px
			color: #fff
			text-decoration: none
			&:hover
				background: #99b853
			&:active
				background: #91ae4e
				+box-shadow(inset 0 2px 1px rgba(0,0,0,.06))
	 
			
// services
.services
	+border-radius(4px)
	overflow: hidden
	background: #f9f9f9
	margin-bottom: 20px
.topic
	position: relative
	height: 34px
	line-height: 34px
	background: #ededed
	border-bottom: 2px solid #d8d8d8
	text-align: center
	font-size: 18px
	color: #636363
	+border-radius(4px 4px 0 0)
	&:before
		content: ""
		position: absolute
		top: 100%
		left: 50%
		margin-left: -7px
		+arr(14, 6, #d8d8d8, b)
		z-index: 99
.services__list, .dropdown__list
	li
		position: relative
		&:before
			content: ""
			position: absolute
			top: 0px
			left: 15px
			right: 15px
			height: 0 
			border-top: 1px dashed #cfcfcf
			z-index: 99
		a
			position: relative
			display: block
			padding: 0 15px 0 39px
			height: 33px
			line-height: 33px
			font-size: 13px
			color: #636363
			text-decoration: none
			&:before
				content: ""
				position: absolute
				top: 10px
				left: 15px
				+s(catlist-dark)
			&:hover
				background: #ededed
				&:before
					+s(catlist-dark-hover)		 
		&:first-child
			&:before
				display: none
			a
				border-top: none
.link_download
	position: relative
	width: 100%
	+box
	text-align: center
	&:before
		content: ""
		position: absolute
		top: 5px
		left: 20px
		+s(download)
	&:hover
		background: #6f6f6f
		color: #fff
		&:before
			+s(download-hover)
.company__text
	margin-bottom: 15px			
.company__contacts
	+clr
	margin-bottom: 40px				 				
.company__adress
	float: left
	width: 260px
.contacts	
	+border-radius(5px 5px 0 0)
	background: #f9f9f9
	border-bottom: 1px dashed #cfcfcf
.contacts__info
	padding: 25px 15px 15px
	line-height: 1.2  
	p
		margin-bottom: 10px
		b
			font-weight: bold
			display: block
		a
			text-decoration: none
			color: inherit
			&:hover
				text-decoration: underline
.company__map
	float: right
	width: 460px
.map	 
	height: 290px
.request-wrap, .catalog
	margin-left: -17px
	margin-bottom: 26px
	font-size: 0
	line-height: 1
.request, .catalog__item
	width: 235px 
	display: inline-block
	vertical-align: top
	margin-left: 17px
	margin-bottom: 17px
.request__topper
	display: block
	+border-radius(5px 5px 0 0)
	border: 1px solid #ededed
	border-bottom: 1px dashed #ededed
	padding: 22px 10px 0px
.reqest__img
	display: block
	+border-radius(5px)
	overflow: hidden
	img
		width: 100%
		height: 100%
.request__title
	width: 213px 
	height: 50px
	overflow: hidden 
	font-size: 13px
	color: #636363
	text-align: center
	font-weight: bold
	display: table-cell
	vertical-align: middle	    
.request__company
	padding: 10px
	background: #f9f9f9
	font-size: 12px
	height: 25px
	line-height: 1.2
	overflow: hidden
	border-bottom: 1px dashed #ededed 
	a
		color: #89be18
		text-decoration: none
		&:hover
			text-decoration: underline	
.request__price 
	height: 27px
	line-height: 27px
	padding: 0 10px
	font-size: 12px
	border-bottom: 1px dashed #ededed
	background: #f9f9f9
.request__btn 
	height: 45px
	padding-top: 10px 
	text-align: center
	background: #f9f9f9
	+border-radius(0 0 5px 5px) 
	a
		position: relative
		display: inline-block
		height: 34px
		line-height: 34px
		width: 122px
		padding-left: 46px
		+border-radius(5px)
		background: #aacc5c
		color: #fff
		text-align: left
		text-decoration: none
		font-size: 15px
		&:before
			content: ""
			position: absolute
			top: 8px 
			left: 18px
			+s(join)

// catalog
.catalog__topper
	padding: 10px
	+border-radius(5px 5px 0 0)
	border: 1px solid #ededed
	border-bottom: 1px dashed #ededed
.catalog__img
	display: block
	+border-radius(5px)
	overflow: hidden
	margin-bottom: 10px
	height: 207px 
	img
		width: 100%
		height: 100%
	&:hover
		+opacity(.6)	
.buy_small
	background: #ff9600
	color: #fff
	padding: 0 13px 0 40px
	font-size: 15px
	width: auto
	height: 29px
	line-height: 29px   
	span
		width: 36px 
		&:after
			display: none
		&:before
			+s(basket-white-small)
			margin: -9px 0 0 -8px
.catalog__buy
	+clr
	margin-bottom: 16px 
	.price
		font-size: 21px
		float: left
		margin-top: 4px
	.buy
		float: right	
.catalog__title
	display: block
	text-align: center
	font-size: 13px
	color: #636363
	font-weight: bold
	text-decoration: none
	line-height: 1.2
	&:hover
		text-decoration: underline
.catalog__details
	padding: 10px
	background: #f9f9f9
	border-bottom: #F9F9F9
	border-bottom: 1px dashed #ededed  			 			  	 
	p
		font-size: 12px
		color: #89be18
		line-height: 1.2
.catalog__company
	padding: 10px 10px 10px 25px
	background: #ededed
	+border-radius(0 0 5px 5px)
	font-size: 12px
	color: #636363
	a
		color: #89be18
		&:hover
			text-decoration: none
.activity
	padding-left: 14px
	li
		padding-left: 25px
		position: relative
		margin-bottom: 17px
		&:before
			content: ""
			position: absolute
			top: 2px
			left: 0px
			+s(plus)
		a
			font-size: 14px
			color: #636363
			text-decoration: none
.activity__title
	font-size: 17px
	color: #636363
	font-weight: bold
	margin-bottom: 15px
.dropdown
	+border-radius(4px)
	margin-bottom: 20px 
.dropdown__btn
	position: relative 
	line-height: 1.2
	padding: 5px 10px 5px 38px
	cursor: pointer
	background: #ededed
	+border-radius(5px 5px 0 0) 
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 14px
		margin-top: -2px 
		+s(arr-down-grey)  
	p
		font-size: 18px
	span
		font-size: 13px
.dropdown__item
	background: #f9f9f9 
	&:hover
		background: #ededed 
		.dropdown__sublist
			display: block			
.dropdown__sublist
	display: none
	position: absolute
	top: 0px
	left: 100%
	width: 195px
	background: #ededed
	+border-radius(0 5px 5px 0)
	overflow: hidden
	z-index: 999
	li
		&:before 
			border-top: 1px dashed #fff
		a
			color: #636363
			font-size: 13px
			padding: 0 15px 
			text-decoration: none
			&:hover
				text-decoration: underline
			&:before
				display: none
.dropdown_green
	color: #9cc74d
	border: 1px solid #aacc5c
	.dropdown__btn
		+border-radius(5px)
		background: #FFF
		&:before 
			+s(arr-down) 
	.dropdown__list
		background: #aacc5c 
		.dropdown__item
			background: #FFF 
			a
				&:before
					+s(catlist-green)
				&:hover
					background: #aacc5c
					color: #fff 
					&:before	
						+s(catlist-white)
			&:hover
				a
					background: #aacc5c
					color: #fff 
					&:before	
						+s(catlist-white)
				.dropdown__sublist
					display: block
	.dropdown__sublist
		a
			color: #fff
.dropdown_plants, .dropdown_goods, .dropdown_serv
	color: #9cc74d
	.dropdown__btn
		+border-radius(5px)
		text-align: center
		background: #FFF
		padding: 7px 10px 7px 38px 
		border: 1px solid #d9e8b5
		&:before 
			+s(plants-list)
			left: 15px
			margin-top: -12px
		&:after
			content: ""
			position: absolute
			+s(plants-list-arr)
			bottom: -7px
			left: 50%
			margin-left: -6px
			z-index: 99 	
	.dropdown__list
		background: #aacc5c 
		.dropdown__item 
			a
				&:before
					top: 13px
					+s(list)
				&:hover
					background: #aacc5c
					color: #fff 
					&:before	
						+s(list-hover)
			&:hover
				a
					background: #aacc5c
					color: #fff 
					&:before	
						+s(list-hover)
				.dropdown__sublist
					display: block
	.dropdown__sublist
		a
			color: #fff
.dropdown_goods
	color: #ff9600
	.dropdown__btn
		border: 1px solid #fbdbac
		&:before
			+s(goods-list)
			margin-top: -7px 
		&:after
			+s(goods-list-arr)
	.dropdown__list
		.dropdown__item
			a
				&:hover
					background: #ff9600
			.dropdown__sublist
				background: #ff9600
			&:hover
				a
					background: #ff9600
.dropdown_serv
	color: #ff6757
	.dropdown__btn
		border: 1px solid #ffc2bc
		&:before
			+s(serv-list)
		&:after
			+s(serv-list-arr)
	.dropdown__list
		.dropdown__item
			a
				&:hover
					background: #ff6757
			.dropdown__sublist
				background: #ff6757
			&:hover
				a
					background: #ff6757		
.viewed
	margin-bottom: 20px			
.viewed__title
	text-align: center
	font-size: 18px
	margin-bottom: 15px
.viewed__item
	& > a
		padding: 8px 0
		border-bottom: 1px dashed #cfcfcf
		+clr
		display: block
		text-decoration: none
		&:hover
			background: #ededed 
.viewed__img
	float: left
	width: 55px
	height: 55px
	margin-right: 13px 
	+border-radius(4px)
	overflow: hidden
	img
		width: 100%
		height: 100%
.viewed__content
	overflow: hidden
	color: #636363
	text-decoration: none
	line-height: 1.2
.viewed__price
	font-size: 18px
	color: #ff9600
	
// gallery

.gallery
	position: relative
	float: left
	width: 300px
	margin-right: 13px 
.gallery__main	 	 		   	 																	
	+border-radius(5px)
	border: 1px solid #ededed
	margin-bottom: 6px
.gallery__prev
	position: absolute
	bottom: 22px
	left: 0
	+s(nav-prev)
	cursor: pointer
.gallery__next
	position: absolute
	bottom: 22px
	right: 0
	+s(nav-next)
	cursor: pointer
.gallery__item 
	padding: 32px 7px
.gallery__nav
	padding: 0 14px
	+box
	width: 268px!important
	height: 62px 
	margin: 0 auto     
	div
		width: 60px
		height: 60px
		margin-right: 7px 
		padding: 10px 4px
		+box 
		+border-radius(5px)
		border: 1px solid #ededed
		img
			cursor: pointer
			
// order
			
.order-wrap
	float: left
	width: 218px
	.list
		padding: 0 11px
		li
			margin-bottom: 5px
.order
	+border-radius(5px 5px 0 0)
	background: #f9f9f9
	padding: 15px 0 10px 
	border-bottom: 1px dashed #EDEDED
	margin-bottom: 14px
.order_request
	text-align: center
.order__head
	margin-bottom: 5px
.order__price
	text-align: center
	font-size: 24px
	color: #93c336
	font-weight: bold
.order__request
	position: relative
	display: inline-block
	height: 42px
	line-height: 42px
	width: 156px
	padding-left: 46px
	+border-radius(5px)
	background: #aacc5c
	color: #fff
	text-align: left
	text-decoration: none
	font-size: 18px
	&:before
		content: ""
		position: absolute
		top: 13px 
		left: 18px
		+s(join)
.order__descr 
	padding: 0 7px
	text-align: left
	font-size: 13px
	a
		color: #89be18
		text-decoration: none
		&:hover
			text-decoration: underline
		 	
.order__buy
	+clr
	padding: 7px 
	background: #ededed
	border-bottom: 1px dashed #EDEDED
	border-top: 1px dashed #EDEDED
	.buy
		float: right
		font-size: 18px
		height: 42px
		line-height: 42px
		padding: 0 16px 0 56px
		span
			&:before
				+s(basket-white)
				margin: -13px 0 0 -5px  
.order__number
	position: relative
	float: left
	width: 57px
	height: 42px
	background: #fff
	+border-radius(5px)
	padding: 2px
	+box
	color: #636363
	font-size: 16px    	 
.order__more
	position: absolute
	top: 2px
	left: 2px
	width: 17px
	height: 18px
	line-height: 18px 
	background: #ededed
	text-align: center
	+border-radius(5px 0 0 0)
	cursor: pointer
.order__less
	position: absolute
	bottom: 2px
	left: 2px	   		  
	width: 17px
	height: 18px
	line-height: 14px 
	background: #ededed
	text-align: center
	+border-radius(0 0 0 5px)
	cursor: pointer
.order__count
	padding-left: 17px
	text-align: center
	line-height: 38px
.order__phone
	position: relative
	padding-top: 6px
	padding-left: 42px
	font-size: 15px
	color: #838383
	&:before
		content: ""
		position: absolute
		top: 9px
		left: 16px
		+s(phone2)
	.hide
		position: absolute
		top: 7px
		right: 32px
		background: #f9f9f9 	
.hide
	font-size: 15px
	color: #838383
	line-height: 1
	border-bottom: 1px dotted
	cursor: pointer
.sidebar__map
	margin-bottom: 17px
.sidebar__socials
	margin-bottom: 17px
	ul
		+justify
		li
			+justify-child
			width: 38px
			height: 38px
			a
				display: inline-block
				&:hover
					+opacity(.8)
.f-ico
	+s(f2)
.vk-ico
	+s(vk2)
.yt-ico
	+s(yt2)
.tw-ico
	+s(tw2)
.gp-ico
	+s(gp2)

// article

.article
	padding: 17px 0
	.h4
		margin-bottom: 17px
	p
		margin-bottom: 17px

.tab-cont__comments
	padding-top: 0			
	.comments__item
		&:first-child
			border-top: none
.count
	+clr
	height: 57px
	line-height: 57px
	padding: 0 25px 
	margin-bottom: 60px
	border-top: 1px dashed #cfcfcf
	border-bottom: 1px dashed #cfcfcf
	background: #f9f9f9
	font-size: 18px
	color: #636363
.count__left
	float: left
.count__right 
	float: right
.count__btn
	position: relative 
	display: block
	margin-top: 12px
	height: 35px
	line-height: 35px
	padding: 0 17px 0 37px
	+border-radius(7px) 
	background: #ff9500
	color: #fff
	font-size: 14px
	text-decoration: none
	+transition(background 150ms linear)	
	&:before
		content: ""
		position: absolute 
		top: 7px
		left: 12px
		+s(count)
	&:hover
		background: #f68302
	&:active
		+box-shadow(inset 0 2px 0 0px #c56902)

.notification__title
	font-size: 29px
.notification__content
	padding: 15px
	margin-bottom: 19px 
	font-size: 18px
	color: #89be18
	border: 1px solid #dae9b9
	+border-radius(5px)
.notification__back
	display: inline-block
	padding: 0 11px
	height: 38px
	line-height: 38px
	font-size: 15px
	text-decoration: none
	color: #fff 
	+border-radius(5px)
	background: #a9cb5c
	+box-shadow(inset 0 -2px 0 rgba(0,0,0,.06))
							 		


			