// styles for order pages
.booking-wrap
    .divide
        margin-bottom: 17px
.orders__title
    position: relative
    height: 35px
    line-height: 35px
    background: #ededed
    +border-radius(5px 5px 0 0)
    text-align: center
    font-size: 18px
    z-index: 2
    &:before
        content: ""
        position: absolute
        top: 8px 
        left: 12px
        +s(orders)
.orders
    background: #f9f9f9
    +border-radius(5px)
    overflow: hidden 
    li
        padding: 0 15px 
        a
            position: relative
            display: block
            height: 33px
            line-height: 33px
            border-top: 1px dashed #e3e3e3
            text-decoration: none
            color: #636363
            font-size: 13px
            span
                position: absolute
                top: 6px
                right: 0px
                width: 20px
                height: 20px
                line-height: 20px
                text-align: center
                +border-radius(2px)
                background: #ffa766
                font-size: 12px
                color: #fff  
        &:first-child
            a
                border-top: none
.h2_orders
    span
        color: #93c336                 
.booking__form
    +clr
    padding: 14px 10px
    margin-bottom: 15px 
    border-top: 1px dashed #e3e3e3
    border-bottom: 1px dashed #e3e3e3                      
    background: #f9f9f9 
.booking__col
    width: 50% 
    float: left
.booking__item
    text-align: right
    margin-bottom: 13px
    span, input
        display: inline-block
        vertical-align: middle
    span
        font-weight: bold      
    input
        width: 237px
        height: 29px
        margin-bottom: 0
        margin-left: 10px
    .select
        display: inline-block
        vertical-align: middle
        margin-left: 10px
        text-align: left
.booking__bottom
    +clr
    margin-bottom: 50px
.booking__status
    float: left
    height: 51px
    padding: 12px
    +box 
    +border-radius(5px)
    background: #f9f9f9
.booking__save
    float: right
    button
        width: 167px 
        height: 51px
        color: #fff
        font-size: 18px
        background: #aacc5c
        +border-radius(5px)
        &:hover
            background: #a0c057
        &:active
            background: #98b652
            +box-shadow(inset 0 2px 0 rgba(0,0,0,.21))
.neworder-wrap
    .tab-wrap
        padding-top: 0
    .tab__link
        position: relative
        font-weight: normal
        padding-right: 25px            
        &.rus
            &:before
                content: ""
                position: absolute
                top: -2px
                right: -15px
                +s(rus)
        &.ua
            &:before
                content: ""
                position: absolute
                top: -2px
                right: -15px
                +s(ua)        
.neworder
    float: left
    width: 100% 
    margin-bottom: 12px
    +clr
.neworder_short
    float: left
    width: 50%
    .neworder__left
        width: 86px  
    .neworder__right
        width: 414px      
.neworder__left
    float: left
    width: 144px
    font-weight: bold
    span
        color: #ff0000
.neworder__right
    float: left
    width: 856px
    span
        display: inline-block
        margin: 0 5px  
    input[type="text"]
        display: inline-block
        vertical-align: middle
        height: 29px
        +box
        padding: 0 10px
        +border-radius(5px)  
        border: 1px solid #e5e5e5
        &.neworder__name
            width: 271px
        &.neworder__code
            width: 217px
        &.neworder__price
            width: 108px
    .select
        display: inline-block
        vertical-align: middle
        width: 105px
        .select__text
            width: 100%               
.neworder__hint
    position: relative
    display: inline-block
    vertical-align: middle
    margin-left: 9px
    +s(hint-dark)
    cursor: pointer
            

    
