// styles for popups
.overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(1,1,1,.7)
    z-index: 999 
.popup
    position: fixed
    top: 200px
    left: 50%
    +box
    padding: 5px
    background: rgba(255, 255, 255, 0.2)
    +border-radius(5px)
    z-index: 1000
.popup_map
    width: 1000px
    height: 580px
    margin-left: -500px      
        