// styles for popups
.overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba(1,1,1,.7)
    z-index: 999 
.popup
    position: fixed
    top: 200px
    left: 50%
    +box
    padding: 5px
    background: rgba(255, 255, 255, 0.2)
    +border-radius(5px)
    z-index: 1000
.popup_map
    width: 1000px
    margin-left: -500px
.popup_add-comment
    width: 550px
    margin-left: -275px
    .popup__title
        text-align: left      
.popup__title
    position: relative 
    color: #636363
    font-size: 18px
    height: 30px
    line-height: 30px
    padding: 0 10px 
    text-align: center
    background: #ededed
    +border-radius(5px 5px 0 0) 
    +box-shadow(0 2px 3px rgba(1,1,1,.1), inset 0 -2px 0 #d7d7d7)
    a
        text-decoration: none
        color: #89be18
.popup__close
    position: absolute
    top: 8px
    right: 10px
    +s(close)
    cursor: pointer
    &:hover
        +s(close-hover)
.popup__map
    height: 535px  
    +border-radius(0 0 5px 5px)
    overflow: hidden
.popup__comment
    padding: 22px 18px 15px
    background: #fff
    p
        font-weight: bold
        margin-bottom: 5px
    .addcom-wrap
        margin-bottom: 0    
.popup__rating
    font-size: 0
    padding: 10px 0 0 0
    margin-bottom: 30px 
    .checkbox
        display: inline-block
        vertical-align: top
        margin-left: 20px
        font-size: 13px
        &:first-child
            margin-left: 0
        input:checked + span
            &:after
                +s(checkbox-green)
    
    
.popup_count
    width: 475px
    margin-left: -237px
    .popup__title
        text-align: left
        +box-shadow(none)
        border-bottom: 2px solid #d3d4d4 
.popup__content
    padding: 9px 14px 14px 
    +border-radius(0 0 5px 5px)
    background: #fff
.popup__left, .popup__right
    width: 210px
    float: left
    margin-left: 17px  
.popup__left
    margin-left: 0px
    .textarea
        margin-bottom: 0
.popup__input, .input-form
    width: 100%
    +box
    border: 1px solid #e5e5e5
    +border-radius(5px)
    padding: 0 11px
    margin-bottom: 13px 
    height: 33px
    font-family: Arial, Calibri, sans-serif
    color: #636363
    font-size: 13px
    +placeholder-color(#999)
.popup__header 
    font-size: 18px
    margin-bottom: 10px
.popup__questions
    .checkbox
        margin-bottom: 13px
        input:checked + span
            &:after
                +s(checkbox-green)
.btn-upload
    position: relative
    display: inline-block
    width: 100%
    height: 38px
    line-height: 38px
    text-align: center
    font-size: 15px
    color: #fff
    +border-radius(7px)
    background: #ff9600 
    &:before
        content: ""
        position: absolute
        top: 9px
        left: 15px
        +s(upload)
    &:hover
        background: #f68302
    &:active
        +box-shadow(inset 0 2px 0 0px #c56902)    
.upload
    display: inline-block
    margin-bottom: 10px
.popup_thanks 
    width: 384px
    margin-left: -192px 
.thanks
    position: relative
    padding: 35px
    +box 
    +border-radius(5px)
    font-size: 15px
    background: #FFF
.thanks__title
    position: relative
    padding-left: 40px
    margin-bottom: 15px
    font-size: 18px
    color: #ff9600
    &:before
        content: "" 
        position: absolute
        top: -5px
        left: 0px
        +s(thanks)

// login popup
.popup_login
    width: 500px
    margin-left: -250px
    .popup__title
        text-align: left    
.login-form__submit 
    +clr
    padding-top: 10px
    margin-bottom: 19px 
    .btn
        float: left
        margin-right: 17px
        width: 172px
        padding: 0
.login-form__options
    a
        display: block
        font-size: 13px
        color: #89be18
        text-decoration: none
        &:hover
            text-decoration: underline
.login-socials
    margin: 0 -14px -14px
    background: #ededed
    +border-radius(0 0 5px 5px)
    padding: 9px 14px 14px                         
.login-socials__list
    +justify
    padding: 10px 0 0 
    li
        width: 110px 
        +justify-child
        a
            display: block
            height: 34px
            line-height: 34px
            +border-radius(5px)
            background: #fff
            text-align: center
            i
                display: inline-block
                vertical-align: middle
            &.odnoklassniki
                i
                    +s(od2)
            &.facebook
                i
                    +s(fb2)
            &.vkontakte
                i
                    +s(vk3)
            &.googleplus
                i
                    +s(gp3)                                      
            